<p-toast></p-toast>
<p-breadcrumb *ngIf="!details" [model]="items" [home]="home"></p-breadcrumb>
<div class="p-grid" *ngIf="!details">
  <div class="p-col-12">
    <h2 class="p-text-center">{{procedureName}}</h2>
    <h4 class="p-text-center">{{accountName}}</h4>
    <!-- <p-messages></p-messages> -->
  </div>
</div>
<div class="p-grid">
  <div class="p-col-1"></div>
  <div class="p-col-10">
    <div class="card">
      <p-chart type="bar" height="450" [data]="basicData" [options]="basicOptions" *ngIf="!waiting">
      </p-chart>
    </div>
  </div>
  <div class="p-col-12">
    <span class="p-text-center">
      <p-selectButton [options]="detailsOptions" (onChange)="changeData($event.value)" optionLabel="name"
        optionValue="value" [(ngModel)]="detailsOption">
      </p-selectButton>
    </span>
    <div *ngIf="detailsOption ==1">
      <span class="p-text-center">
        <p-selectButton [options]="paymentOptions" [(ngModel)]="displayData" optionLabel="name" optionValue="value">
        </p-selectButton>
      </span>
      <p-table #dtmaxb dataKey="id" [value]="blueData" *ngIf="displayData==1" [resizableColumns]="true"
        styleClass="p-datatable-gridlines" [columns]="cols" responsive="true" [scrollable]="true" scrollHeight="350px"
        [reorderableColumns]="true" [frozenColumns]="frozenCols" frozenWidth="500px" [(selection)]="selected">
        <ng-template pTemplate="caption">
          <div class="p-grid">
            <div class="p-col-1" *ngIf="!details">
              <button type="button" pButton pRipple icon="pi pi-arrow-left" (click)="goBack()" class=" p-button-primary"
                label="{{ 'Analysis.back' | translate}} " pTooltip="{{ 'Analysis.back' | translate}} "
                tooltipPosition="bottom"></button>
            </div>
            <div class="p-col-4">
              <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel(blueData)"
                class="p-button-warning p-mr-2" pTooltip="Xlsx" tooltipPosition="bottom"></button>
              <!-- <button type="button" pButton pRipple icon="pi pi-filter-slash" (click)="clearFilter()"
                class="p-ml-6 clearFilter" pTooltip="{{'Data_Table.clearFilter' | translate}}" *ngIf="filtersNo>0"
                tooltipPosition="bottom"></button> -->
              <button type="button" pButton pRipple icon="pi pi-check" (click)="saveRelevant()"
                class="p-button-primary p-mr-2" pTooltip="{{ 'Analysis.save' | translate}} " tooltipPosition="bottom"
                label="{{ 'Analysis.saveRelevant' | translate}} "></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [style]="{'width': (col.width? col.width : 200) +'px'}">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th pSortableColumn="{{col.field}}" pResizableColumn pReorderableColumn class="p-text-center"
              *ngFor="let col of columns">
              <span pTooltip="{{col.header | translate}}">
                {{col.header | translate}}
              </span>
              <p-sortIcon field="{{col.field}}"></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th pResizableColumn *ngFor="let col of columns" class="autocomplete">
              <input *ngIf="col.field != 'paymentRelevant'" pInputText type="text" [(ngModel)]="criteria[col.field]"
                [style]="{width:'90%'}" (input)="filterChange($any($event.target).value, col.field)"
                class="filterInputCss" />

            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-columns="columns">
          <tr [pSelectableRow]="row">

            <td pEditableColumn pReorderableRowHandle *ngFor="let col of columns" class="p-text-{{col.align}}">
              <span *ngIf="col.field == 'paymentRelevant'">
                <i class="pi pi-star-o " (click)="selectRow(row)" *ngIf="!row.paymentRelevant"></i>
                <i class="pi pi-star " (click)="selectRow(row)" *ngIf="row.paymentRelevant"></i>
              </span>
              <p-cellEditor *ngIf="col.field == 'paymentRelevantComment'" pTooltip="{{ row[col.field] }}">
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="row.paymentRelevantComment"
                    style="width: 100%; padding: 5px;" (change)="commentChanged(row)">
                </ng-template>
                <ng-template pTemplate="output">
                  {{row.paymentRelevantComment}}
                </ng-template>
              </p-cellEditor>
              <span *ngIf="col.field=='value'">
                {{ row.balance  | currency:'EUR':'' }}
              </span>
              <span *ngIf="col.field=='documentDate' || col.field=='dueDate' || col.field=='applicationDate'">
                {{ row[col.field]  | date: 'dd.MM.yyyy' }}
              </span>
              <span pTooltip="{{ row[col.field] }}"
                *ngIf="col.field!='value' && col.field!='documentDate' && col.field!='dueDate' && col.field!='applicationDate' && col.field!='paymentRelevantComment' && col.field!='paymentRelevant'">
                {{ row[col.field] }}
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-table #dtmaxb dataKey="id" [value]="redData" *ngIf="displayData==2" [resizableColumns]="true"
        styleClass="p-datatable-gridlines" [columns]="cols" responsive="true" [scrollable]="true" scrollHeight="350px"
        [reorderableColumns]="true" [frozenColumns]="frozenCols" frozenWidth="500px" [(selection)]="selected">
        <ng-template pTemplate="caption">
          <div class="p-grid">
            <div class="p-col-1" *ngIf="!details">
              <button type="button" pButton pRipple icon="pi pi-arrow-left" (click)="goBack()"
                class="p-button-rounded p-button-primary" label="{{ 'Analysis.back' | translate}} "
                pTooltip="{{ 'Analysis.back' | translate}} " tooltipPosition="bottom"></button>
            </div>
            <div class="p-col-2">
              <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel(redData)"
                class="p-button-warning p-mr-2" pTooltip="Xlsx" tooltipPosition="bottom"></button>
              <!-- <button type="button" pButton pRipple icon="pi pi-filter-slash" (click)="clearFilter()"
                class="p-ml-6 clearFilter" pTooltip="{{'Data_Table.clearFilter' | translate}}" *ngIf="filtersNo>0"
                tooltipPosition="bottom"></button> -->
              <button type="button" pButton pRipple icon="pi pi-check" (click)="saveRelevant()"
                class="p-button-primary p-mr-2" pTooltip="{{ 'Analysis.save' | translate}} " tooltipPosition="bottom"
                label="{{ 'Analysis.saveRelevant' | translate}} "></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [style]="{'width': (col.width? col.width : 200) +'px'}">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th pSortableColumn="{{col.field}}" pResizableColumn pReorderableColumn class="p-text-center"
              *ngFor="let col of columns">
              <span pTooltip="{{col.header | translate}}">
                {{col.header | translate}}
              </span>
              <p-sortIcon field="{{col.field}}"></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th pResizableColumn *ngFor="let col of columns" class="autocomplete">
              <input *ngIf="col.field != 'paymentRelevant'" pInputText type="text" [(ngModel)]="criteria[col.field]"
                [style]="{width:'90%'}" (input)="filterChange($any($event.target).value, col.field)"
                class="filterInputCss" />

            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-columns="columns">
          <tr [pSelectableRow]="row">
            <td pEditableColumn pReorderableRowHandle *ngFor="let col of columns" class="p-text-{{col.align}}">
              <span *ngIf="col.field == 'paymentRelevant'">
                <i class="pi pi-star-o " (click)="selectRow(row)" *ngIf="!row.paymentRelevant"></i>
                <i class="pi pi-star " (click)="selectRow(row)" *ngIf="row.paymentRelevant"></i>
              </span>
              <p-cellEditor *ngIf="col.field == 'paymentRelevantComment'" pTooltip="{{ row[col.field] }}">
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="row.paymentRelevantComment"
                    style="width: 100%; padding: 5px;" (change)="commentChanged(row)">
                </ng-template>
                <ng-template pTemplate="output">
                  {{row.paymentRelevantComment}}
                </ng-template>
              </p-cellEditor>
              <span *ngIf="col.field=='value'">
                {{ row.balance  | currency:'EUR':'' }}
              </span>
              <span *ngIf="col.field=='documentDate' || col.field=='dueDate' || col.field=='applicationDate'">
                {{ row[col.field]  | date: 'dd.MM.yyyy' }}
              </span>
              <span pTooltip="{{ row[col.field] }}"
                *ngIf="col.field!='value' && col.field!='documentDate' && col.field!='dueDate' && col.field!='applicationDate' && col.field!='paymentRelevantComment' && col.field!='paymentRelevant'">
                {{ row[col.field] }}
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-table #dtmaxb dataKey="id" [value]="greenData" *ngIf="displayData==3" [resizableColumns]="true"
        styleClass="p-datatable-gridlines" [columns]="cols" responsive="true" [scrollable]="true" scrollHeight="350px"
        [reorderableColumns]="true" [frozenColumns]="frozenCols" frozenWidth="500px" [(selection)]="selected">
        <ng-template pTemplate="caption">
          <div class="p-grid">
            <div class="p-col-1" *ngIf="!details">
              <button type="button" pButton pRipple icon="pi pi-arrow-left" (click)="goBack()"
                class="p-button-rounded p-button-primary" label="{{ 'Analysis.back' | translate}} "
                pTooltip="{{ 'Analysis.back' | translate}} " tooltipPosition="bottom"></button>
            </div>
            <div class="p-col-2">
              <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel(greenData)"
                class="p-button-warning p-mr-2" pTooltip="Xlsx" tooltipPosition="bottom"></button>
              <!-- <button type="button" pButton pRipple icon="pi pi-filter-slash" (click)="clearFilter()"
                class="p-ml-6 clearFilter" pTooltip="{{'Data_Table.clearFilter' | translate}}" *ngIf="filtersNo>0"
                tooltipPosition="bottom"></button> -->
              <button type="button" pButton pRipple icon="pi pi-check" (click)="saveRelevant()"
                class="p-button-primary p-mr-2" pTooltip="{{ 'Analysis.save' | translate}}" tooltipPosition="bottom"
                label="{{ 'Analysis.saveRelevant' | translate}}"></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [style]="{'width': (col.width? col.width : 200) +'px'}">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th pSortableColumn="{{col.field}}" pResizableColumn pReorderableColumn class="p-text-center"
              *ngFor="let col of columns">
              <span pTooltip="{{ col.header | translate }}">
                {{col.header | translate}}
              </span>
              <p-sortIcon field="{{col.field}}"></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th pResizableColumn *ngFor="let col of columns" class="autocomplete">
              <input *ngIf="col.field != 'paymentRelevant'" pInputText type="text" [(ngModel)]="criteria[col.field]"
                [style]="{width:'90%'}" (input)="filterChange($any($event.target).value, col.field)"
                class="filterInputCss" />

            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-columns="columns">
          <tr [pSelectableRow]="row">
            <td pEditableColumn pReorderableRowHandle *ngFor="let col of columns" class="p-text-{{col.align}}">
              <span *ngIf="col.field == 'paymentRelevant'">
                <i class="pi pi-star-o " (click)="selectRow(row)" *ngIf="!row.paymentRelevant"></i>
                <i class="pi pi-star " (click)="selectRow(row)" *ngIf="row.paymentRelevant"></i>
              </span>
              <p-cellEditor *ngIf="col.field == 'paymentRelevantComment'" pTooltip="{{ row[col.field] }}">
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="row.paymentRelevantComment"
                    style="width: 100%; padding: 5px;" (change)="commentChanged(row)">
                </ng-template>
                <ng-template pTemplate="output">
                  {{row.paymentRelevantComment}}
                </ng-template>
              </p-cellEditor>
              <span *ngIf="col.field=='value'">
                {{ row.balance  | currency:'EUR':'' }}
              </span>
              <span *ngIf="col.field=='documentDate' || col.field=='dueDate' || col.field=='applicationDate'">
                {{ row[col.field]  | date: 'dd.MM.yyyy' }}
              </span>
              <span pTooltip="{{ row[col.field] }}"
                *ngIf="col.field!='value' && col.field!='documentDate' && col.field!='dueDate' && col.field!='applicationDate' && col.field!='paymentRelevantComment' && col.field!='paymentRelevant'">
                {{ row[col.field] }}
              </span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              No records found
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div *ngIf="detailsOption != 1">
      <p-table #dtrelevant dataKey="id" [value]="relevantData" *ngIf="detailsOption != 3" [resizableColumns]="true"
        styleClass="p-datatable-gridlines" [columns]="cols" responsive="true" [scrollable]="true" scrollHeight="350px"
        [reorderableColumns]="true" [frozenColumns]="frozenCols" frozenWidth="500px" [(selection)]="selected">
        <ng-template pTemplate="caption">
          <div class="p-grid">
            <div class="p-col-1" *ngIf="!details">
              <button type="button" pButton pRipple icon="pi pi-arrow-left" (click)="goBack()"
                class="p-button-rounded p-button-primary" label="{{ 'Analysis.back' | translate}} "
                pTooltip="{{ 'Analysis.back' | translate}} " tooltipPosition="bottom"></button>
            </div>
            <div class="p-col-2">
              <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel(relevantData)"
                class="p-button-warning p-mr-2" pTooltip="Xlsx" tooltipPosition="bottom"></button>
              <!-- <button type="button" pButton pRipple icon="pi pi-filter-slash" (click)="clearFilter()"
                class="p-ml-6 clearFilter" pTooltip="{{'Data_Table.clearFilter' | translate}}" *ngIf="filtersNo>0"
                tooltipPosition="bottom"></button> -->
              <button type="button" pButton pRipple icon="pi pi-check" (click)="saveRelevant()"
                class="p-button-primary p-mr-2" pTooltip="{{ 'Analysis.save' | translate}}" tooltipPosition="bottom"
                label="{{ 'Analysis.saveRelevant' | translate}}"></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [style]="{'width': (col.width? col.width : 200) +'px'}">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th pSortableColumn="{{col.field}}" pResizableColumn pReorderableColumn class="p-text-center"
              *ngFor="let col of columns">
              <span pTooltip="{{ col.header | translate }}">
                {{col.header | translate}}
              </span>
              <p-sortIcon field="{{col.field}}"></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th pResizableColumn *ngFor="let col of columns" class="autocomplete">
              <input *ngIf="col.field != 'paymentRelevant'" pInputText type="text" [(ngModel)]="criteria[col.field]"
                [style]="{width:'90%'}" (input)="filterChange($any($event.target).value, col.field)"
                class="filterInputCss" />

            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-columns="columns">
          <tr [pSelectableRow]="row">

            <td pEditableColumn pReorderableRowHandle *ngFor="let col of columns" class="p-text-{{col.align}}">
              <span *ngIf="col.field == 'paymentRelevant'">
                <i class="pi pi-star-o " (click)="selectRow(row)" *ngIf="!row.paymentRelevant"></i>
                <i class="pi pi-star " (click)="selectRow(row)" *ngIf="row.paymentRelevant"></i>
              </span>
              <p-cellEditor *ngIf="col.field == 'paymentRelevantComment'" pTooltip="{{ row[col.field] }}">
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="row.paymentRelevantComment"
                    style="width: 100%; padding: 5px;" (change)="commentChanged(row)">
                </ng-template>
                <ng-template pTemplate="output">
                  {{row.paymentRelevantComment}}
                </ng-template>
              </p-cellEditor>
              <span *ngIf="col.field=='value'">
                {{ row.balance  | currency:'EUR':'' }}
              </span>
              <span *ngIf="col.field=='documentDate' || col.field=='dueDate' || col.field=='applicationDate'">
                {{ row[col.field]  | date: 'dd.MM.yyyy' }}
              </span>
              <span pTooltip="{{ row[col.field] }}"
                *ngIf="col.field!='value' && col.field!='documentDate' && col.field!='dueDate' && col.field!='applicationDate' && col.field!='paymentRelevantComment' && col.field!='paymentRelevant'">
                {{ row[col.field] }}
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-table #dtall dataKey="id" [value]="allRecordData" *ngIf="detailsOption == 3" [resizableColumns]="true"
        styleClass="p-datatable-gridlines" [columns]="cols" responsive="true" [scrollable]="true" scrollHeight="350px"
        [reorderableColumns]="true" [frozenColumns]="frozenCols" frozenWidth="500px" [(selection)]="selected"
        [lazy]="true" (onLazyLoad)="sort($event)">
        <ng-template pTemplate="caption">
          <div class="p-grid">
            <div class="p-col-1" *ngIf="!details">
              <button type="button" pButton pRipple icon="pi pi-arrow-left" (click)="goBack()"
                class="p-button-rounded p-button-primary" label="{{ 'Analysis.back' | translate}} "
                pTooltip="{{ 'Analysis.back' | translate}} " tooltipPosition="bottom"></button>
            </div>
            <div class="p-col-2">
              <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportXLSX()"
                class="p-button-warning p-mr-2" pTooltip="Xlsx" tooltipPosition="bottom"></button>
              <!-- <button type="button" pButton pRipple icon="pi pi-filter-slash" (click)="clearFilter()"
                class="p-ml-6 clearFilter" pTooltip="{{'Data_Table.clearFilter' | translate}}" *ngIf="filtersNo>0"
                tooltipPosition="bottom"></button> -->
              <button type="button" pButton pRipple icon="pi pi-check" (click)="saveRelevant()"
                class="p-button-primary p-mr-2" pTooltip="Save" tooltipPosition="bottom" label="Save Relevant"></button>
            </div>
            <div class="p-mb-4">
              <!-- Limit options -->
              <p-dropdown [options]="pageLimitSizes" optionValue="value" optionLabel="value" [(ngModel)]="limit"
                (onChange)="limitChange($event)" class="p-mr-2"></p-dropdown>
              <!-- Go to First page -->
              <button type="button" [disabled]="pageNr === 1" pButton pRipple icon="pi pi-angle-double-left"
                (click)="firstPage()" class="p-mr-2" pTooltip="{{'Data_Table.firstPage' | translate}}"
                tooltipPosition="bottom"></button>
              <!-- Go previous -->
              <button type="button" [disabled]="pageNr === 1" pButton pRipple icon="pi pi-angle-left"
                (click)="previousPage()" class=" p-mr-2" pTooltip="{{'Data_Table.previous' | translate}}"
                tooltipPosition="bottom"></button>
              <!-- Page number -->
              <input pInputText type="number" min="1" class="pageNrInput p-mr-2" [disabled]="true"
                (change)="pageNrChange($any($event.target).value)" [value]="pageNr" [placeholder]="pageNr" />
              <!-- Go to next Page -->
              <button type="button" [disabled]="pageNr >= maxPageNr" pButton pRipple icon="pi pi-angle-right"
                (click)="nextPage()" class="p-mr-2" pTooltip="{{'Data_Table.next' | translate}}"
                tooltipPosition="bottom"></button>
              <!-- Go to last page -->
              <button type="button" [disabled]="pageNr >= maxPageNr" pButton pRipple icon="pi pi-angle-double-right"
                (click)="lastPage()" class="p-mr-2" pTooltip="{{'Data_Table.lastPage' | translate}}"
                tooltipPosition="bottom"></button>

              <!-- dispalyed data of total count -->
              {{displayedDataCount}} of {{totalCount}}
              <!-- Clear filter -->
              <button type="button" pButton pRipple icon="pi pi-filter-slash" (click)="clearFilter()"
                class="p-ml-6 clearFilter" pTooltip="{{'Data_Table.clearFilter' | translate}}" *ngIf="filtersNo>0"
                tooltipPosition="bottom"></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [style]="{'width': (col.width? col.width : 200) +'px'}">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th pSortableColumn="{{col.field}}" pResizableColumn pReorderableColumn class="p-text-center" *ngFor="let col of columns">
              <span pTooltip="{{col.header | translate}}">
                {{col.header | translate}}
              </span>
              <p-sortIcon field="{{col.field}}"></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th pResizableColumn *ngFor="let col of columns" class="autocomplete">
              <input
                *ngIf="col.field != 'paymentRelevant' && col.field != 'accountNumber' && col.field != 'accountName'"
                pInputText type="text" [(ngModel)]="backCriteria[col.field]" [style]="{width:'90%'}"
                (input)="filterChange($any($event.target).value, col.field)" class="filterInputCss" />

            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-columns="columns">
          <tr [pSelectableRow]="row">

            <td pEditableColumn pReorderableRowHandle *ngFor="let col of columns" class="p-text-{{col.align}}">
              <span *ngIf="col.field == 'paymentRelevant'">
                <i class="pi pi-star-o " (click)="selectRow(row)" *ngIf="!row.paymentRelevant"></i>
                <i class="pi pi-star " (click)="selectRow(row)" *ngIf="row.paymentRelevant"></i>
              </span>
              <p-cellEditor *ngIf="col.field == 'paymentRelevantComment'" pTooltip="{{ row.paymentRelevantComment }}">
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="row.paymentRelevantComment"
                    style="width: 100%; padding: 5px;" (change)="commentChanged(row)">
                </ng-template>
                <ng-template pTemplate="output">
                  {{row.paymentRelevantComment}}
                </ng-template>
              </p-cellEditor>
              <span *ngIf="col.field=='value'">
                {{ row.balance  | currency:'EUR':'' }}
              </span>
              <span *ngIf="col.field=='documentDate' || col.field=='dueDate' || col.field=='applicationDate'">
                {{ row[col.field]  | date: 'dd.MM.yyyy' }}
              </span>
              <span pTooltip="{{ row[col.field] }}"
                *ngIf="col.field!='value' && col.field!='documentDate' && col.field!='dueDate' && col.field!='applicationDate' && col.field!='paymentRelevantComment' && col.field!='paymentRelevant'">
                {{ row[col.field] }}
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <br><br><br>
  </div>
</div>
