<div class="p-xs-10 p-xs-offset-1 p-md-8 p-md-offset-2">
    <div class="card">
        <p-toast></p-toast>
        <h5 class="p-text-center"> {{'Procedure_Registration.editHeader' | translate}} </h5>
        <form class="p-fluid"  (ngSubmit)="submitHandler()">


            <div class="p-fluid">

            <div class="p-field p-grid">
                <label for="procedureName" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> {{'Procedure_Registration.name' | translate}} </label>
                <div class="p-col-12 p-md-10">
                    <input required #procedureName="ngModel" [placeholder]="currentProcedureName" name="procedureName" type="text" pinputtext class="p-inputtext p-component ng-untouched ng-pristine ng-valid"  [(ngModel)]="procedureModel.name" > 
                </div>
            </div> 


            <div class="p-field p-grid">
                <label for="data" class="p-col-12  p-md-2 "> {{'Procedure_Registration.data' | translate}} </label>
                <div class="p-col-12 p-md-10 p-field-checkbox">
                    <p-checkbox name="data" binary="true"[(ngModel)]="procedureModel.data" inputId="data" [value]="currentProcedureData"></p-checkbox>
                </div>
            </div> 

            <div class="p-field p-grid">
                <label for="analysis" class="p-col-12  p-md-2 "> {{'Procedure_Registration.analysis' | translate}} </label>
                <div class="p-col-12 p-md-10 p-field-checkbox">
                    <p-checkbox name="analysis" binary="true" [(ngModel)]="procedureModel.analysis" inputId="analysis"></p-checkbox>
                </div>
            </div> 


            <div class="p-field p-grid">
                <div class="p-xs-col-5  p-mr-4">
    
                    <button pbutton pripple type="button" label="cancel" class="p-mt-4  p-ripple p-button p-component p-cancelButton " (click)="cancelHandle()" >
                        <span class="p-button-label"> {{'Procedure_Registration.cancelButton' | translate}} </span>
                    </button>
                </div>
                <div class="p-xs-col-5 ">
                    <button pbutton pripple type="submit" label="Submit" class="p-mt-4  p-ripple p-button p-component " >
                        <span class="p-button-label"> {{'Procedure_Registration.confirmButton' | translate}} </span>
                    </button>
                </div>
 
            </div>
        </div>
        </form>
    </div>
</div>

