<div class="p-xs-10 p-xs-offset-1 p-md-8 p-md-offset-2">
    <div class="card">
        <p-toast></p-toast>
        <div class="p-text-center titleFontStyle p-mb-4"> {{'Procedure_Registration.editHeader' | translate}} </div>
        <h3 class="p-text-center">{{procedureModel.status}}</h3>
        <form class="p-fluid"  (ngSubmit)="submitHandler()">


            <div class="p-fluid">

            <div class="p-field p-grid">
                <label for="procedureName" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 fontStyle"> {{'Procedure_Registration.name' | translate}} </label>
                <div class="p-col-12 p-md-10">
                    <input required #procedureName="ngModel" name="procedureName" type="text" pinputtext class="p-inputtext p-component ng-untouched ng-pristine ng-valid"  [(ngModel)]="procedureModel.name" > 
                </div>
            </div> 


            <div class="p-field p-grid" *ngIf="role ==='Admin'">
                <label for="data" class="p-col-12  p-md-2 fontStyle "> {{'Procedure_Registration.data' | translate}} </label>
                <div class="p-col-12 p-md-10 p-field-checkbox">
                    <p-checkbox name="data" binary="true"[(ngModel)]="procedureModel.data" inputId="data" [value]="procedureModel.data"></p-checkbox>
                </div>
            </div> 

            <div class="p-field p-grid" *ngIf="role ==='Admin'">
                <label for="analysis" class="p-col-12  p-md-2 fontStyle "> {{'Procedure_Registration.analysis' | translate}} </label>
                <div class="p-col-12 p-md-10 p-field-checkbox">
                    <p-checkbox name="analysis" binary="true" [(ngModel)]="procedureModel.analysis" inputId="analysis" [value]="procedureModel.analysis"></p-checkbox>
                </div>
            </div> 

            <div class="p-field p-grid" *ngIf="role ==='Admin'">
                <label for="amount" class="p-col-12  p-md-2 fontStyle "> {{'Procedure_Registration.amount' | translate}} </label>
                <div class="p-col-12 p-md-10 p-field-checkbox">
                    <p-checkbox name="amount" binary="true" [(ngModel)]="procedureModel.amount" inputId="amount" [value]="procedureModel.amount"></p-checkbox>
                </div>
            </div> 

            <div class="p-field p-grid" *ngIf="role ==='Admin'">
                <label for="text_account" class="p-col-12  p-md-2 fontStyle "> {{'Procedure_Registration.text_account' | translate}} </label>
                <div class="p-col-12 p-md-10 p-field-checkbox">
                    <p-checkbox name="text_account" binary="true" [(ngModel)]="procedureModel.text_account" inputId="text_account" [value]="procedureModel.text_account"></p-checkbox>
                </div>
            </div> 

            <div class="p-field p-grid" *ngIf="role ==='Admin'">
                <label for="text_word" class="p-col-12  p-md-2 fontStyle "> {{'Procedure_Registration.text_word' | translate}} </label>
                <div class="p-col-12 p-md-10 p-field-checkbox">
                    <p-checkbox name="text_word" binary="true" [(ngModel)]="procedureModel.text_word" inputId="text_word" [value]="procedureModel.text_word"></p-checkbox>
                </div>
            </div> 

            <div class="p-field p-grid" *ngIf="role ==='Admin'">
                <label for="credit" class="p-col-12  p-md-2 fontStyle "> {{'Procedure_Registration.credit' | translate}} </label>
                <div class="p-col-12 p-md-10 p-field-checkbox">
                    <p-checkbox name="credit" binary="true" [(ngModel)]="procedureModel.credit" inputId="credit" [value]="procedureModel.credit"></p-checkbox>
                </div>
            </div> 

            <div class="p-field p-grid" *ngIf="role ==='Admin'">
                <label for="payment" class="p-col-12  p-md-2 fontStyle "> {{'Procedure_Registration.payment' | translate}} </label>
                <div class="p-col-12 p-md-10 p-field-checkbox">
                    <p-checkbox name="payment" binary="true" [(ngModel)]="procedureModel.payment" inputId="payment" [value]="procedureModel.payment"></p-checkbox>
                </div>
            </div> 

            <div class="p-field p-grid" *ngIf="role ==='Admin'">
                <label for="due_date" class="p-col-12  p-md-2 fontStyle "> {{'Procedure_Registration.due_date' | translate}} </label>
                <div class="p-col-12 p-md-10 p-field-checkbox">
                    <p-checkbox name="due_date" binary="true" [(ngModel)]="procedureModel.due_date" inputId="due_date" [value]="procedureModel.due_date"></p-checkbox>
                </div>
            </div> 


            <div class="p-field p-grid" *ngIf="role ==='Admin'">
                <div class="p-xs-col-5  p-mr-4">
    
                    <button pbutton pripple type="button" label="cancel" class="p-mt-4  p-ripple p-button p-component p-cancelButton " (click)="cancelHandle()" >
                        <span class="p-button-label"> {{'Procedure_Registration.cancelButton' | translate}} </span>
                    </button>
                </div>
                <div class="p-xs-col-5 " *ngIf="role ==='Admin'">
                    <button pbutton pripple type="submit" label="Submit" class="p-mt-4  p-ripple p-button p-component " >
                        <span class="p-button-label"> {{'Procedure_Registration.confirmButton' | translate}} </span>
                    </button>
                </div>
 
            </div>
        </div>
        </form>
    </div>
</div>

