<p-toast></p-toast>
<p-breadcrumb *ngIf="!details" [model]="items" [home]="home"></p-breadcrumb>
<div class="p-grid" *ngIf="!details">
  <div class="p-col-12">
    <!-- <h2 class="p-text-center">{{ procedureName }}</h2> -->
    <h3 class="p-text-center">{{ keyword }}</h3>
    <p-progressBar
      mode="indeterminate"
      [style]="{ height: '5px' }"
      *ngIf="waiting"
    ></p-progressBar>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-12">
    <p-progressBar
      mode="indeterminate"
      [style]="{ height: '5px' }"
      *ngIf="waiting"
    ></p-progressBar>
    <p-table
      #dt
      dataKey="id"
      [value]="data"
      [resizableColumns]="true"
      dataKey="id"
      styleClass="p-datatable-gridlines"
      [loading]="waiting"
      [columns]="cols"
      responsive="true"
      [scrollable]="true"
      scrollHeight="350px"
      [style]="{ width: '100%' }"
      [reorderableColumns]="true"
      [frozenColumns]="frozenCols"
      frozenWidth="500px"
    >
      <ng-template pTemplate="caption">
        <div class="p-grid">
          <div class="p-col-1" *ngIf="!details">
            <button
              type="button"
              pButton
              pRipple
              icon="pi pi-arrow-left"
              (click)="goBack()"
              class="p-button-rounded p-button-primary"
              label="{{ 'TextAnalysis.back' | translate }} "
              pTooltip="{{ 'TextAnalysis.back' | translate }} "
              tooltipPosition="bottom"
            ></button>
          </div>
          <div class="p-col-4">
            <button
              type="button"
              pButton
              pRipple
              icon="pi pi-file-excel"
              (click)="exportExcel()"
              class="p-button-warning p-mr-2"
              pTooltip="{{ 'TextAnalysis.export' | translate }}"
              tooltipPosition="bottom"
            ></button>

            <!-- <button
              type="button"
              pButton
              pRipple
              icon="pi pi-check"
              (click)="saveRelevant()"
              class="p-button-primary p-mr-2"
              pTooltip="{{ 'Analysis.save' | translate }}"
              tooltipPosition="bottom"
              label="{{ 'Analysis.saveRelevant' | translate }}"
            ></button> -->
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col
            *ngFor="let col of columns"
            [style]="{ width: (col.width ? col.width : 200) + 'px' }"
          />
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            pSortableColumn="{{ col.field }}"
            pResizableColumn
            pReorderableColumn
            class="p-text-{{col.align}}"
            *ngFor="let col of columns"
          >
            {{ col.header | translate }}
            <p-sortIcon field="{{ col.field }}"></p-sortIcon>
          </th>
        </tr>
        <tr>
          <!-- <th></th> -->
          <th pResizableColumn *ngFor="let col of columns" class="autocomplete">
            <input
              *ngIf="col.field != 'textRelevant'"
              pInputText
              type="text"
              [(ngModel)]="criteria[col.field]"
              [style]="{ width: '90%' }"
              (input)="filterChange($any($event.target).value, col.field)"
              class="filterInputCss"
            />
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row let-columns="columns">
        <tr>
          <td
            pEditableColumn
            pReorderableRowHandle
            *ngFor="let col of columns"
            class="p-text-{{ col.align }}"
          >
            <span *ngIf="col.field == 'textRelevant'">
              <i
                class="pi pi-star-o"
                *ngIf="!row.textRelevant"
              ></i>
              <i
                class="pi pi-star"
                *ngIf="row.textRelevant"
              ></i>
            </span>
            <!-- <p-cellEditor *ngIf="col.field == 'textRelevantComment'">
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="row.textRelevantComment"
                  style="width: 100%; padding: 5px"
                  (change)="commentChanged(row)"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ row.textRelevantComment }}
              </ng-template>
            </p-cellEditor> -->
            <span *ngIf="col.field == 'balance'">
              {{ row[col.field] | currency: "EUR":"" }}
            </span>
            <span
              *ngIf="
                col.field == 'documentDate' ||
                col.field == 'executionDate' ||
                col.field == 'dueDate'
              "
            >
              {{ row[col.field] | date: "dd.MM.yyyy" }}
            </span>
            <span
              *ngIf="
                col.field == 'reference' ||
                col.field == 'textPosting' ||
                col.field == 'textHeader'
              "
              [innerHTML]="row[col.field] | highlight"
              pTooltip="{{ row[col.field] }}"
            >
            </span>
            <span
              pTooltip="{{ row[col.field] }}"
              *ngIf="
                col.field != 'balance' &&
                col.field != 'documentDate' &&
                col.field != 'executionDate' &&
                col.field != 'dueDate' &&
                col.field != 'reference' &&
                col.field != 'textPosting' &&
                col.field != 'textHeader' &&
                col.field != 'textRelevant'
              "
            >
              {{ row[col.field] }}
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">No records found</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
