<p-toast></p-toast>
<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<div class="p-grid">
  <div class="p-col-12">
    <p-progressBar mode="indeterminate" [style]="{ height: '5px' }" *ngIf="waiting"></p-progressBar>
  </div>
</div>

<p-table #dtmaxb dataKey="accountNumber" [value]="data" [resizableColumns]="true" styleClass="p-datatable-gridlines"
  [columns]="cols" responsive="true" [scrollable]="true" scrollHeight="350px" [reorderableColumns]="true"
  [loading]="waiting" [lazy]="true" [customSort]="true" (onLazyLoad)="sort($event)">
  <ng-template pTemplate="caption">
    <div class="p-mb-4">
      <!-- Limit options -->
      <p-dropdown [options]="pageLimitSizes" optionValue="value" optionLabel="label" [(ngModel)]="limit"
        (onChange)="limitChange($event)" class="p-mr-2"></p-dropdown>
      <!-- Go to First page -->
      <button type="button" [disabled]="pageNr === 1" pButton pRipple icon="pi pi-angle-double-left"
        (click)="firstPage()" class="p-mr-2" pTooltip="{{ 'Data_Table.firstPage' | translate }}"
        tooltipPosition="bottom"></button>
      <!-- Go previous -->
      <button type="button" [disabled]="pageNr === 1" pButton pRipple icon="pi pi-angle-left" (click)="previousPage()"
        class="p-mr-2" pTooltip="{{ 'Data_Table.previous' | translate }}" tooltipPosition="bottom"></button>
      <!-- Page number -->
      <input pInputText type="number" min="1" class="pageNrInput p-mr-2"
        (input)="pageNrChange($any($event.target).value)" [value]="pageNr" [placeholder]="pageNr" />
      <!-- Go to next Page -->
      <button type="button" [disabled]="pageNr >= maxPageNr" pButton pRipple icon="pi pi-angle-right"
        (click)="nextPage()" class="p-mr-2" pTooltip="{{ 'Data_Table.next' | translate }}"
        tooltipPosition="bottom"></button>
      <!-- Go to last page -->
      <button type="button" [disabled]="pageNr >= maxPageNr" pButton pRipple icon="pi pi-angle-double-right"
        (click)="lastPage()" class="p-mr-2" pTooltip="{{ 'Data_Table.lastPage' | translate }}"
        tooltipPosition="bottom"></button>

      <!-- dispalyed data of total count -->
      {{ displayedDataCount }} of {{ totalCount }}
      <!-- Clear filter -->
      <button type="button" pButton pRipple icon="pi pi-filter-slash" (click)="clearFilter()" class="p-ml-6 clearFilter"
        pTooltip="{{ 'Data_Table.clearFilter' | translate }}" *ngIf="filtersNo > 0" tooltipPosition="bottom"></button>
    </div>
  </ng-template>
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns" />
      <col />
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th pSortableColumn="{{ col.field }}" pResizableColumn pReorderableColumn class="p-text-{{ col.align }}"
        *ngFor="let col of columns">
        <span pTooltip="{{ col.header | translate }}">
          {{ col.header | translate }}
        </span>
        <p-sortIcon field="{{ col.field }}"></p-sortIcon>
      </th>
      <th>Details</th>
    </tr>
    <tr>
      <th pResizableColumn class="autocomplete">
        <input pInputText type="text" [(ngModel)]="criteria['accountNumber']" [style]="{ width: '90%' }"
          (input)="filterChange($any($event.target).value, 'accountNumber')" class="filterInputCss" />
      </th>
      <th pResizableColumn class="autocomplete">
        <input pInputText type="text" [(ngModel)]="criteria['accountName']" [style]="{ width: '90%' }"
          (input)="filterChange($any($event.target).value, 'accountName')" class="filterInputCss" />
      </th>
      <th></th>
      <th></th>
      <th>
        <p-dropdown [options]="priorities" [(ngModel)]="criteria['priority']" optionValue="value" appendTo="body"
          placeholder="{{'CreditorsAnalysis.selectPriority' | translate}}" optionLabel="label" [showClear]="true"
          [filter]="true" filterBy="label" (onChange)="filterChange($event.value, 'priority')" [style]="{width:'100%'}">
          <ng-template pTemplate="item" let-item>
            <span [innerHTML]="item.value | starsPriority"></span>
            <!-- {{'CreditorsAnalysis.'+item.label | translate | colorPriority}} -->
          </ng-template>
          <ng-template pTemplate="selectedItem" let-item>
            <span [innerHTML]="item.value | starsPriority"></span>
            <!-- {{'CreditorsAnalysis.'+item.label | translate | colorPriority}} -->
          </ng-template>
        </p-dropdown>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row let-columns="columns">
    <tr [pSelectableRow]="row">
      <td *ngFor="let col of columns" class="p-text-{{ col.align }}">
        <span *ngIf="col.field == 'totalBalance'">
          {{ row.totalBalance | currency: "EUR":"" }}
        </span>
        <span *ngIf="col.field != 'totalBalance' && col.field != 'priority'" pTooltip="{{ row[col.field] }}">
          {{ row[col.field] }}
        </span>
        <div *ngIf="!row.isEditable && col.field == 'priority'">
          <span *ngIf="row.priority">
            <span [innerHTML]="row.priority | starsPriority"></span>
            <!-- <span [innerHTML]="'CreditorsAnalysis.'+displayPriority[row.priority] | translate | colorPriority"></span> -->
            <!-- {{'CreditorsAnalysis.'+displayPriority[row.priority] | translate | colorPriority}} -->
          </span>
        </div>
        <div *ngIf="row.isEditable && col.field == 'priority'">
          <p-dropdown [options]="priorities" [(ngModel)]="row.priority" optionValue="value" appendTo="body"
            placeholder="{{'Account_Type.accountTypeNewName' | translate}}" optionLabel="label" [showClear]="true"
            [filter]="true" filterBy="label" (onChange)="priorityChangedHandler($event, row)" [style]="{width:'300px'}">
            <ng-template pTemplate="item" let-item>
              <span [innerHTML]="item.value | starsPriority"></span>
              <!-- <span [innerHTML]="'CreditorsAnalysis.'+item.label | translate | colorPriority"></span> -->
              <!-- {{'CreditorsAnalysis.'+item.label | translate | colorPriority}} -->
            </ng-template>
            <ng-template pTemplate="selectedItem" let-item>
              <span [innerHTML]="item.value | starsPriority"></span>
              <!-- <span [innerHTML]="'CreditorsAnalysis.'+item.label | translate | colorPriority"></span> -->
              <!-- {{'CreditorsAnalysis.'+item.label | translate}} -->
            </ng-template>
          </p-dropdown>
        </div>
      </td>
      <td>
        <button type="button" pButton pRipple icon="pi pi-pencil" (click)="editRow(row)"
          class="p-button-rounded p-button-warning" *ngIf="!row.isEditable"
          pTooltip="{{'Account_Type.Edit' | translate}}" tooltipPosition="bottom"></button> &nbsp;
        <button type="button" pButton pRipple icon="pi pi-save" (click)="updatePriority(row)"
          class="p-button-rounded p-button-warning" *ngIf="row.isEditable"
          pTooltip="{{'Account_Type.Save' | translate}}" tooltipPosition="bottom"></button> &nbsp;
        <button type="button" pButton pRipple icon="pi pi-times" (click)="cancel(row)"
          class="p-button-rounded p-button-warning" *ngIf="row.isEditable"
          pTooltip="{{'Account_Type.Cancel' | translate}}" tooltipPosition="bottom"></button>
        <button type="button" pButton pRipple icon="pi pi-trash" (click)="reset(row)"
          class="p-button-rounded p-button-warning" *ngIf="!row.isEditable && row.priority"
          pTooltip="{{'general_actions.delete' | translate}}" tooltipPosition="bottom"></button> &nbsp;
        <button type="button" pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-warning"
          (click)="goToDetails(row)" pTooltip="Details" tooltipPosition="bottom"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>