<p-toast></p-toast>
<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<div class="p-grid">
  <div class="p-col-12">
    <h4 class="p-text-center">All Emails</h4>
    <h4 class="p-text-left">
      <button type="button" pButton pRipple icon="pi pi-undo" class="p-button-rounded p-button-warning"
        (click)="bySender = !bySender" pTooltip="Details" tooltipPosition="bottom"
        label="{{ bySender?  'By Word' : 'By Sender' }}"></button>
    </h4>
  </div>
</div>

<!-- ----------- By Word Starts ------------------- -->
<div *ngIf="!bySender">
  <div class="p-grid" *ngIf="this.basicData">
    <div class="p-col-12">
      <div class="card">
        <p-chart type="bar" [data]="basicData" [options]="basicOptions" height="350px"></p-chart>
      </div>
    </div>
  </div>

  <div class="p-grid">
    <div class="p-col-12" *ngIf="prcId > 0">
      <p-table #dtword [value]="data" [resizableColumns]="true" dataKey="word" styleClass="p-datatable-gridlines"
        [loading]="waiting" [columns]="cols" responsive="true" [scrollable]="true" scrollHeight="350px"
        [reorderableColumns]="true">
        <ng-template pTemplate="colgroup">
          <colgroup>
            <col *ngFor="let col of cols" />
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="{{ col.field }}" pResizableColumn pReorderableColumn class="p-text-{{col.align}}"
              *ngFor="let col of cols">
              <span pTooltip="{{ col.header | translate }}">
                {{ col.header | translate }}
              </span>
              <p-sortIcon field="{{ col.field }}"></p-sortIcon>
            </th>
            <th>{{ "AmountAnalysis.details" | translate }}</th>
          </tr>
          <tr>
            <th pResizableColumn *ngFor="let col of cols" class="autocomplete">
              <input pInputText type="text" [(ngModel)]="criteria[col.field]" [style]="{ width: '90%' }"
                (input)="filterChange($any($event.target).value, col.field)" class="filterInputCss"
                *ngIf="col.field == 'word'" />
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td pReorderableRowHandle *ngFor="let col of cols" class="p-text-{{ col.align }}">
              <span pTooltip="{{ row[col.field] }}">
                {{ row[col.field] }}
              </span>
            </td>
            <td>
              <button type="button" pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-warning"
                (click)="goToDetailsWord(row)" pTooltip="Details" tooltipPosition="bottom"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<!-- ----------- By Word Ends ------------------- -->


<!-- ----------- By Sender Starts ------------------- -->
<div *ngIf="bySender">
  <div class="p-grid" *ngIf="this.basicDataSender">
    <div class="p-col-12">
      <div class="card">
        <p-chart type="bar" [data]="basicDataSender" [options]="basicOptionsSender" height="350px"></p-chart>
      </div>
    </div>
  </div>

  <div class="p-grid">
    <div class="p-col-12" *ngIf="prcId > 0">
      <p-table #dtword [value]="dataSender" [resizableColumns]="true" dataKey="email" styleClass="p-datatable-gridlines"
        [loading]="waitingSender" [columns]="colsSender" responsive="true" [scrollable]="true" scrollHeight="350px"
        [reorderableColumns]="true">
        <ng-template pTemplate="colgroup">
          <colgroup>
            <col *ngFor="let col of colsSender" />
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="{{ col.field }}" pResizableColumn pReorderableColumn class="p-text-{{col.align}}"
              *ngFor="let col of colsSender">
              <span pTooltip="{{ col.header | translate }}">
                {{ col.header | translate }}
              </span>
              <p-sortIcon field="{{ col.field }}"></p-sortIcon>
            </th>
            <th>{{ "AmountAnalysis.details" | translate }}</th>
          </tr>
          <tr>
            <th pResizableColumn *ngFor="let col of colsSender" class="autocomplete">
              <input pInputText type="text" [(ngModel)]="criteriaSender[col.field]" [style]="{ width: '90%' }"
                (input)="filterChangeSender($any($event.target).value, col.field)" class="filterInputCss"
                *ngIf="col.field != 'totalCount'" />
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td pReorderableRowHandle *ngFor="let col of colsSender" class="p-text-{{ col.align }}">
              <span pTooltip="{{ row[col.field] }}">
                {{ row[col.field] }}
              </span>
            </td>
            <td>
              <button type="button" pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-warning"
                (click)="goToDetailsSender(row)" pTooltip="Details" tooltipPosition="bottom"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<!-- ----------- By Sender Ends ------------------- -->