<p-toast></p-toast>
<div class="p-grid">

  <div class="p-col-12">

    <div class="p-col-6 p-sm-offset-3">
      <label class="p-mr-4"> {{'Admin_Import.selectOrganisation' | translate}} </label>

      <p-dropdown [options]="orgs" [(ngModel)]="selectedOrgId"
        placeholder=" {{'Admin_Import.selectOrganisationPlaceholder' | translate}}" optionLabel="name" optionValue="id"
        [showClear]="true" [filter]="true" filterBy="name" required (onChange)="orgChangedHandler($event)"
        [style]="{width:'300px'}">
      </p-dropdown>
    </div>
  </div>
  <div class="p-col-12" *ngIf="selectedOrgId>0">
    <div class="p-col-6 p-sm-offset-3">
      <label class="p-mr-6"> {{'Admin_Import.selectProcedure' | translate}} </label>
      <p-dropdown [options]="procedures" [(ngModel)]="selectedPrcId"
        placeholder="{{'Admin_Import.selectProcedurePlaceholder' | translate}}" optionLabel="name" optionValue="id"
        [showClear]="true" [filter]="true" filterBy="name" required (onChange)="prcChangedHandler($event)"
        [style]="{width:'300px'}"></p-dropdown>
    </div>
  </div>

  <div class="p-col-12" *ngIf="selectedPrcId>0">
    <p-progressBar mode="indeterminate" [style]="{ height: '5px' }" *ngIf="searching"></p-progressBar>

    <p-table #dt dataKey="id" [value]="postingAccountTypes" [columns]="cols" styleClass="p-datatable-gridlines"
      [resizableColumns]="true" responsive="true" [scrollable]="true" scrollHeight="400px" [reorderableColumns]="true"
      [loading]="searching">
      <ng-template pTemplate="colgroup">
        <colgroup>
          <col *ngFor="let col of cols">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="caption">
        <div class="p-mb-4">
          <button type="button" pButton pRipple icon="pi pi-filter-slash" (click)="clearFilter()"
            class="p-ml-6 clearFilter" pTooltip="{{'Data_Table.clearFilter' | translate}}" *ngIf="filtersNo>0"
            tooltipPosition="bottom"></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="{{col.field}}" pResizableColumn pReorderableColumn class="p-text-{{col.align}}"
            *ngFor="let col of cols">
            {{col.header | translate}}
            <p-sortIcon field="{{col.field}}"></p-sortIcon>
          </th>
          <th>{{'Account_Type.Action' | translate}}</th>
        </tr>
        <tr>
          <th pResizableColumn *ngFor="let col of cols" class="autocomplete">
            <input pInputText type="text" [(ngModel)]="criteria[col.field]" [style]="{width:'90%'}"
              (input)="filterChange($any($event.target).value, col.field)" class="filterInputCss"
              *ngIf="col.field != 'accountTypeNewName'" />

            <p-dropdown [options]="accountTypesFilter" [(ngModel)]="criteria[col.field]" optionValue="AccountTypeName"
              appendTo="body" placeholder="{{'Account_Type.accountTypeNewName' | translate}}"
              optionLabel="AccountTypeName" [showClear]="true" [filter]="true" filterBy="AccountTypeName"
              *ngIf="col.field == 'accountTypeNewName'" (onChange)="filterChange($event.value, col.field)"
              [style]="{width:'300px'}">
              <ng-template pTemplate="item" let-item>
                {{'Account_Type.'+item.AccountTypeName | translate}}
              </ng-template>
              <ng-template pTemplate="selectedItem" let-item>
                {{'Account_Type.'+item.AccountTypeName | translate}}
              </ng-template>
            </p-dropdown>

          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td pReorderableRowHandle *ngFor="let col of cols" class="p-text-{{col.align}}">
            {{ col.field != 'accountTypeNewName' ? row[col.field] : '' }}
            <div *ngIf="!row.isEditable && col.field == 'accountTypeNewName'">
              <span *ngIf="row.accountTypeNewName">
                {{'Account_Type.'+row.accountTypeNewName | translate}}
              </span>
            </div>
            <div *ngIf="row.isEditable && col.field == 'accountTypeNewName'">
              <p-dropdown [options]="accountTypes" [(ngModel)]="row.accountTypeNewId" optionValue="id" appendTo="body"
                placeholder="{{'Account_Type.accountTypeNewName' | translate}}" optionLabel="AccountTypeName"
                [showClear]="true" [filter]="true" filterBy="AccountTypeName"
                (onChange)="accountTypeChangedHandler($event, row)" [style]="{width:'300px'}">
                <ng-template pTemplate="item" let-item>
                  {{'Account_Type.'+item.AccountTypeName | translate}}
                </ng-template>
                <ng-template pTemplate="selectedItem" let-item>
                  {{'Account_Type.'+item.AccountTypeName | translate}}
                </ng-template>
              </p-dropdown>
            </div>
          </td>
          <td><button type="button" pButton pRipple icon="pi pi-pencil" (click)="editRow(row)"
              class="p-button-rounded p-button-warning" *ngIf="!row.isEditable"
              pTooltip="{{'Account_Type.Edit' | translate}}" tooltipPosition="bottom"></button> &nbsp;
            <button type="button" pButton pRipple icon="pi pi-save" (click)="save(row)"
              class="p-button-rounded p-button-warning" *ngIf="row.isEditable"
              pTooltip="{{'Account_Type.Save' | translate}}" tooltipPosition="bottom"></button> &nbsp;
            <button type="button" pButton pRipple icon="pi pi-times" (click)="cancel(row)"
              class="p-button-rounded p-button-warning" *ngIf="row.isEditable"
              pTooltip="{{'Account_Type.Cancel' | translate}}" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-trash" (click)="reset(row)"
              class="p-button-rounded p-button-warning" *ngIf="!row.isEditable && row.accountTypeNewId"
              pTooltip="{{'Account_Type.delete' | translate}}" tooltipPosition="bottom"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>