<div #about class="section p-0 mt-0 bg-transparent clearfix"
    style="border-top: 1px solid #EEE; border-bottom: 1px solid #EEE;">
    <div class="row align-items-stretch clearfix">
        <div class="col-lg-6 center col-padding"
            style="background: url('assets/theme/images/sections/1.jpg') center center no-repeat; background-size: cover;">
            <div>&nbsp;</div>
        </div>

        <div class="col-lg-6 col-padding">
            <div>
                <div style="position: relative;">
                    <div class="heading-block border-0" data-heading="A">
                        <h3 class="nott ls0">About Us</h3>
                    </div>
                </div>

                <!-- About Us Featured Boxes
            ============================================= -->
                <div class="row clearfix">
                    <div class="col-lg-10 col-md-8 bottommargin">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-et-globe"></i></a>
                            </div>
                            <div class="fbox-content">
                                <h3>All over the World</h3>
                                <p>Powerful Layout with Responsive functionality that can be adapted to
                                    any
                                    screen size. Resize browser to view.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-8 bottommargin">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-et-gears"></i></a>
                            </div>
                            <div class="fbox-content">
                                <h3>Fully Customisable</h3>
                                <p>Powerful Layout with Responsive functionality that can be adapted to
                                    any
                                    screen size. Resize browser to view.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-8">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-et-document"></i></a>
                            </div>
                            <div class="fbox-content">
                                <h3>Helpfull Documentation</h3>
                                <p>Powerful Layout with Responsive functionality that can be adapted to
                                    any
                                    screen size. Resize browser to view.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>