<div #about class="section p-0 mt-0 bg-transparent clearfix"
    style="border-top: 1px solid #EEE; border-bottom: 1px solid #EEE;">
    <div class="row align-items-stretch clearfix">
        <div class="col-lg-6 center col-padding"
            style="background: url('{{data.aboutImg}}') center center no-repeat; background-size: cover;">
            <div>&nbsp;</div>
        </div>

        <div class="col-lg-6 col-padding">
            <div>
                <div style="position: relative;">
                    <div class="heading-block border-0" data-heading="A">
                        <h3 class="nott ls0">{{data.aboutTitle}}</h3>
                        <p>{{data.aboutText}}</p>
                    </div>
                </div>

                <!-- About Us Featured Boxes
            ============================================= -->
                <div class="row clearfix">
                    <div *ngFor="let item of items" class="col-lg-10 col-md-8 bottommargin">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-et-{{item.icon}}"></i></a>
                            </div>
                            <div class="fbox-content">
                                <h3>{{item.title}}</h3>
                                <p>{{item.subtitle}}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>