<div class="p-xs-10 p-xs-offset-1 p-md-8 p-md-offset-2">
    <div class="card">
        <p-toast></p-toast>
        <h5 class="p-text-center"> Procedure Registration </h5>
        <form class="p-fluid"  (ngSubmit)="submitHandler()">


            <div class="p-fluid">

                <div class="p-field p-grid">
                    <label  class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Client </label>
                    <div class="p-col-12 p-md-10">
                        <p-dropdown  placeholder="select a Client" name="client" optionValue="id" optionLabel="fullName" #client="ngModel" [options]="managers" class="ng-tns-c42-167 ng-pristine ng-valid ng-touched" [showClear]="true"  [(ngModel)]="procedureModel.userId">
                            <div class="ng-tns-c42-167 p-dropdown p-component">
                                <span class="ng-tns-c42-167 p-dropdown-label p-inputtext p-placeholder p-dropdown-label-empty ng-star-inserted"> </span>
                            </div>
                        </p-dropdown>  
                        <small  class="spanCss" *ngIf="client.invalid && client.touched "> client is required </small> 

                    </div>
                </div>
                <div class="p-field p-grid">
                    <label  class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Datasource </label>
                    <div class="p-col-12 p-md-10">
                        <p-dropdown  placeholder="select a Datasource" name="dataSource" optionValue="name" optionLabel="name" #dataSource="ngModel" [options]="dataSources" class="ng-tns-c42-167 ng-pristine ng-valid ng-touched" [showClear]="true"  [(ngModel)]="procedureModel.dataSource">
                            <div class="ng-tns-c42-167 p-dropdown p-component">
                                <span class="ng-tns-c42-167 p-dropdown-label p-inputtext p-placeholder p-dropdown-label-empty ng-star-inserted"> </span>
                            </div>
                        </p-dropdown>  
                        <small  class="spanCss" *ngIf="dataSource.invalid && dataSource.touched "> Datasource is required </small> 

                    </div>
                </div>
            <div class="p-field p-grid">
                <label for="procedureName1" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Name </label>
                <div class="p-col-12 p-md-10">
                    <input required #procedureName1="ngModel"  name="procedureName1" type="text" pinputtext class="p-inputtext p-component ng-untouched ng-pristine ng-valid"  [(ngModel)]="procedureModel.name" > 
                    <small *ngIf="procedureName1.invalid && procedureName1.touched " class="spanCss ">name is required</small>
                </div>
            </div> 


            <div class="p-field p-grid">
                <label for="data" class="p-col-12  p-md-2 "> Data </label>
                <div class="p-col-12 p-md-10 p-field-checkbox">
                    <p-checkbox name="data" binary="true"[(ngModel)]="procedureModel.data" inputId="data"></p-checkbox>
                </div>
            </div> 

            <div class="p-field p-grid">
                <label for="analysis" class="p-col-12  p-md-2 "> Analysis </label>
                <div class="p-col-12 p-md-10 p-field-checkbox">
                    <p-checkbox name="analysis" binary="true" [(ngModel)]="procedureModel.analysis" inputId="analysis"></p-checkbox>
                </div>
            </div> 


            <div class="p-field p-grid">
                <button pbutton pripple type="submit" label="Submit" class="p-mt-4  p-ripple p-button p-component buttonCss" >
                    <span class="p-button-label"> Submit </span>
                </button>
            </div>
        </div>
        </form>
    </div>
</div>

