.navbarMargin
    float: right
    width: 100%

.sideBarWidth
    width: 15%

.logoCss
    width: 15%
    position: absolute
    left: 0
    right: 0
    top: 0

.buttonCss
    margin-left: 30%

.textCss
    text-align: 'center'
