<div class="p-xs-10 p-xs-offset-1 p-md-8 p-md-offset-2">
    <div class="card">
        <p-toast></p-toast>
        <h5 class="p-text-center"> Organisation Registration </h5>
        <form class="p-fluid"  (ngSubmit)="submitHandler()">


            <div class="p-fluid">


            <div class="p-field p-grid">
                <label for="name" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Name </label>
                <div class="p-col-12 p-md-10">
                    <input required #name="ngModel"  name="name" type="text" pinputtext class="p-inputtext p-component ng-untouched ng-pristine ng-valid"  [(ngModel)]="organisation.name" > 
                    <small *ngIf="name.invalid && name.touched " class="spanCss ">name is required</small>
                </div>
            </div> 
            <div class="p-field p-grid">
                <label for="email" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Email </label>
                <div class="p-col-12 p-md-10">
                    <input required #email="ngModel"  name="email" type="text" pinputtext class="p-inputtext p-component ng-untouched ng-pristine ng-valid"  [(ngModel)]="organisation.email" pattern="^(\D)+(\w)*((\.(\w)+)?)+@(\D)+(\w)*((\.(\D)+(\w)*)+)?(\.)[a-z]{2,}$" > 
                    <small *ngIf="email.invalid && email.touched " class="spanCss "> email is required</small>
                    
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="street" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Street </label>
                <div class="p-col-12 p-md-10">
                    <input required #street="ngModel"  name="street" type="text" pinputtext class="p-inputtext p-component ng-untouched ng-pristine ng-valid"  [(ngModel)]="organisation.street" > 
                    <small *ngIf="street.invalid && street.touched" class="spanCss ">Street is required</small>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="houseNr" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> HouseNr </label>
                <div class="p-col-12 p-md-10">
                    <input required #houseNr="ngModel"  name="houseNr" type="number" pinputtext class="p-inputtext p-component ng-untouched ng-pristine ng-valid"  [(ngModel)]="organisation.houseNr" > 
                    <small *ngIf="houseNr.invalid && houseNr.touched" class="spanCss ">houseNr is required</small>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="city" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> City </label>
                <div class="p-col-12 p-md-10">
                    <input required #city="ngModel"  name="city" type="text" pinputtext class="p-inputtext p-component ng-untouched ng-pristine ng-valid"  [(ngModel)]="organisation.city" > 
                    <small *ngIf="city.invalid && city.touched" class="spanCss ">city is required</small>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="country" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Country </label>
                <div class="p-col-12 p-md-10">
                    <input required #country="ngModel"  name="country" type="text" pinputtext class="p-inputtext p-component ng-untouched ng-pristine ng-valid"  [(ngModel)]="organisation.country" > 
                    <small *ngIf="country.invalid && country.touched" class="spanCss ">Country is required</small>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="logo" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Logo </label>
                <div class="p-col-12 p-md-10">
                    <p-fileUpload name="logo"  #logo="ngModel"  name="logo" chooseLabel="Search" customUpload="true" [auto]="true" mode="basic" accept="image/*"  styleClass="logoCss" [(ngModel)]="organisation.logo"></p-fileUpload>
                </div>
            </div>

            <div class="p-field p-grid">
                <button pbutton pripple type="submit" label="Submit" class="p-mt-4  p-ripple p-button p-component buttonCss" >
                    <span class="p-button-label"> Submit </span>
                </button>
            </div>
        </div>
        </form>
    </div>
</div>

