<p-toast></p-toast>
<div class="p-grid" *ngIf="this.basicData">
  <div class="p-col-10">
    <div class="card">
      <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
    </div>
  </div>
</div>

<div class="p-grid">

  <!-- <div class="p-col-10">
    <div class="p-grid">
      <div class="p-col-2">
        <label class="p-mr-4"> {{'Admin_Import.selectOrganisation' | translate}} </label>
      </div>
      <div class="p-col-5">
        <p-dropdown [options]="orgs" [(ngModel)]="selectedOrgId"
          placeholder=" {{'Admin_Import.selectOrganisationPlaceholder' | translate}}" optionLabel="name"
          optionValue="id" [showClear]="true" [filter]="true" filterBy="name" required
          (onChange)="orgChangedHandler($event)" [style]="{width:'300px'}">
        </p-dropdown>
      </div>
    </div>
  </div> -->

  <!-- <div class="p-col-10" *ngIf="selectedOrgId>0">
    <div class="p-grid">
      <div class="p-col-2">
        <label class="p-mr-4"> {{'Admin_Import.selectProcedure' | translate}} </label>
      </div>
      <div class="p-col-5">
        <p-dropdown [options]="procedures" [(ngModel)]="selectedPrcId"
          placeholder="{{'Admin_Import.selectProcedurePlaceholder' | translate}}" optionLabel="name" optionValue="id"
          [showClear]="true" [filter]="true" filterBy="name" required (onChange)="prcChangedHandler($event)"
          [style]="{width:'300px'}"></p-dropdown>
      </div>
    </div>
  </div> -->
  <div class="p-col-10" *ngIf="selectedProcedure>0">
    <p-table #dt dataKey="id" [value]="data">

      <ng-template pTemplate="header">
        <tr>
          <th>Creditor Number</th>
          <th>Creditor Name</th>
          <th>Totla Count</th>
          <th>Totla Balance</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td>{{row.creditorNumber}}</td>
          <td>{{row.creditorName}}</td>
          <td>{{row.totlaCount}}</td>
          <td>{{row.totalBalance}}</td>
          <td><button type="button" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning"
              *ngIf="!row.isEditable" pTooltip="Details" tooltipPosition="bottom"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>
