<p-toast></p-toast>
<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<div class="p-grid">
  <div class="p-col-12">
    <h4 class="p-text-center">
      {{ "PaymentAnalysis.allAccounts" | translate }}
    </h4>
  </div>
</div>
<div class="p-grid" *ngIf="this.basicData">
  <div class="p-col-12">
    <div class="card">
      <p-chart
        type="bar"
        [data]="basicData"
        [options]="basicOptions"
        height="350px"
      ></p-chart>
    </div>
  </div>
</div>

<div class="p-grid p-mt-2">
  <div class="p-col-12">
    <div class="p-text-right">
      <label for="baseBalance"
        >{{ "AmountAnalysis.baseBalance" | translate }}:
      </label>
      <p-inputNumber
        [(ngModel)]="baseBalance"
        mode="decimal"
        locale="de-DE"
        [minFractionDigits]="2"
        [min]="0"
        [showButtons]="true"
        buttonLayout="horizontal"
        inputId="horizontal"
        spinnerMode="horizontal"
        [step]="100"
        decrementButtonClass="p-button-secondary"
        incrementButtonClass="p-button-secondary"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"
      >
      </p-inputNumber>
      <!-- <button pButton type="button" icon="pi pi-search" (click)="getData()" class="p-ml-2"></button> -->
      &nbsp;
      <label for="mode">{{ "AmountAnalysis.mode" | translate }}: </label>
      <p-inputNumber
        [(ngModel)]="mode"
        mode="decimal"
        locale="de-DE"
        [minFractionDigits]="2"
        [min]="50"
        [showButtons]="true"
        buttonLayout="horizontal"
        inputId="horizontal"
        spinnerMode="horizontal"
        [step]="50"
        decrementButtonClass="p-button-secondary"
        incrementButtonClass="p-button-secondary"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"
      >
      </p-inputNumber>
      <button
        pButton
        type="button"
        icon="pi pi-search"
        (click)="getData()"
        class="p-ml-2"
      ></button>
    </div>
  </div>
  <div class="p-col-12" *ngIf="selectedProcedure > 0">
    <!-- <p-progressBar mode="indeterminate" [style]="{'height': '5px'}"></p-progressBar> -->
    <p-table
      #dt
      dataKey="id"
      [value]="data"
      [resizableColumns]="true"
      dataKey="id"
      styleClass="p-datatable-gridlines"
      [loading]="waiting"
      [columns]="cols"
      responsive="true"
      [scrollable]="true"
      scrollHeight="350px"
      [reorderableColumns]="true"
    >
      <ng-template pTemplate="colgroup">
        <colgroup>
          <col *ngFor="let col of cols" />
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th
            pSortableColumn="{{ col.field }}"
            pResizableColumn
            pReorderableColumn
            class="p-text-{{ col.align }}"
            *ngFor="let col of cols"
          >
            <span pTooltip="{{ col.header | translate }}">
              {{ col.header | translate }} </span
            ><p-sortIcon field="{{ col.field }}"></p-sortIcon>
          </th>
          <th>{{ "AmountAnalysis.details" | translate }}</th>
        </tr>
        <tr>
          <th pResizableColumn *ngFor="let col of cols" class="autocomplete">
            <input
              pInputText
              type="text"
              [(ngModel)]="criteria[col.field]"
              [style]="{ width: '90%' }"
              (input)="filterChange($any($event.target).value, col.field)"
              class="filterInputCss"
              *ngIf="col.field == 'accountNumber' || col.field == 'accountName'"
            />
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td
            pReorderableRowHandle
            *ngFor="let col of cols"
            class="p-text-{{ col.align }}"
          >
            <span *ngIf="col.field == 'totalBalance'">{{
              row[col.field] | currency: "EUR":""
            }}</span>
            <span
              *ngIf="col.field != 'totalBalance'"
              pTooltip="{{ row[col.field] }}"
            >
              {{ row[col.field] }}
            </span>
          </td>
          <td>
            <button
              type="button"
              pButton
              pRipple
              icon="pi pi-list"
              class="p-button-rounded p-button-warning"
              (click)="goToDetails(row)"
              pTooltip="Details"
              tooltipPosition="bottom"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <br /><br /><br />
  </div>
</div>
