
<div class="p-col-12 p-md-6">
    <div class="card">
        <p-toast></p-toast>
<form ngSu></form>
        <h5 class="p-text-center"> Admin Registration </h5>
        <div class="p-fluid">
            <div class="p-field p-grid">
                <label for="firstname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Title </label>
                <div class="p-col-12 p-md-10">
                    <p-dropdown placeholder="Select a Title"  [(ngModel)]="title" [options]="titles"  optionLabel="name" 
                    class="ng-tns-c42-167 ng-pristine ng-valid ng-touched" [showClear]="true" defaultLabel="Select a Title" required>
                        <div class="ng-tns-c42-167 p-dropdown p-component">
                            <span class="ng-tns-c42-167 p-dropdown-label p-inputtext p-placeholder p-dropdown-label-empty ng-star-inserted"> </span>
                        </div>
                    </p-dropdown>   
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="firstname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Firstname </label>
                <div class="p-col-12 p-md-10">
                    <input [(ngModel)]="firstname"  id="firstname" type="text" pinputtext class="p-inputtext p-component" required> 
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="lastname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Lastname </label>
                <div class="p-col-12 p-md-10">
                    <input [(ngModel)]="lastname" id="lastname" type="text" pinputtext class="p-inputtext p-component" required> 
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="email" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Email </label>
                <div class="p-col-12 p-md-10">
                    <input [(ngModel)]="email" id="email" type="email" pinputtext class="p-inputtext p-component" required> 
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="username" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Username </label>
                <div class="p-col-12 p-md-10">
                    <input [(ngModel)]="username"  id="username" type="text" pinputtext class="p-inputtext p-component" required> 
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="mobileNr" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> MobileNr </label>
                <div class="p-col-12 p-md-10">
                    <input [(ngModel)]="mobileNr"  id="mobileNr" type="number" pinputtext class="p-inputtext p-component" required> 
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="contactPerson" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Contact Person  </label>
                <div class="p-col-12 p-md-10">
                    <input [(ngModel)]="contactPerson" id="contactPerson" type="text" pinputtext class="p-inputtext p-component" required> 
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="street" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Street  </label>
                <div class="p-col-12 p-md-10">
                    <input [(ngModel)]="street" id="street" type="text" pinputtext class="p-inputtext p-component" required> 
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="houseNr" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> HouseNr </label>
                <div class="p-col-12 p-md-10">
                    <input [(ngModel)]="houseNr" id="houseNr" type="number" pinputtext class="p-inputtext p-component" required> 
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="city" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> City  </label>
                <div class="p-col-12 p-md-10">
                    <input [(ngModel)]="city" id="city" type="text" pinputtext class="p-inputtext p-component" required> 
                </div>
            </div>

            
            <div class="p-field p-grid">
                <label for="country" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Country  </label>
                <div class="p-col-12 p-md-10">
                    <input [(ngModel)]="country" id="country" type="text" pinputtext class="p-inputtext p-component" required> 
                </div>
            </div>

            <div class="p-field p-grid">
                <button pbutton pripple type="button" label="Submit" class="p-mt-4  p-ripple p-button p-component buttonCss" (click)="submitHandler()" >
                    <span class="p-button-label"> Submit </span>
                </button>
            </div>


        </div>
    </div>
</div>
