<p-toast></p-toast>
<div class="p-grid">

    <div class="p-col-12">
        <p-table #dt dataKey="id" [value]="data" [value]="data" [resizableColumns]="true" dataKey="id" styleClass="p-datatable-gridlines"
        [loading]="waiting" [columns]="cols" responsive="true" [scrollable]="true" scrollHeight="350px"
        [reorderableColumns]="true">
        <ng-template pTemplate="colgroup">
          <colgroup>
            <col *ngFor="let col of cols">
          </colgroup>
        </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pResizableColumn pReorderableColumn class="p-text-center" *ngFor="let col of cols">
                {{col.header | translate}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row>
            <tr>
              <td pReorderableRowHandle *ngFor="let col of cols" class="p-text-right">
                <span *ngIf="col.field=='balance'">
                  {{ row[col.field]  | currency:'EUR':'' }}
                </span>
                <span *ngIf="col.field=='documentDate' || col.field=='executionDate' || col.field=='dueDate'">
                  {{ row[col.field]  | date: 'yyyy-MM-dd' }}
                </span>
                <span *ngIf="col.field!='balance' && col.field !='documentDate' && col.field !='executionDate' && col.field!='dueDate'">
                  {{ row[col.field] }}
                  </span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      
</div>