<p-toast></p-toast>
<div class="p-grid">
  <div class="p-col-12">
    <h2 class="p-text-center">{{procedureName}}</h2>
  </div>
</div>

<div class="p-grid">

    <div class="p-col-12">
        <p-table #dt dataKey="id" [value]="data" [value]="data" [resizableColumns]="true" dataKey="id" styleClass="p-datatable-gridlines"
        [loading]="waiting" [columns]="cols" responsive="true" [scrollable]="true" scrollHeight="350px"
        [reorderableColumns]="true">
        <ng-template pTemplate="caption">
          <div class="p-grid">
            <div class="p-col-1">
              <button type="button" pButton pRipple icon="pi pi-arrow-left" (click)="goBack()"
                class="p-button-rounded p-button-primary" label="{{ 'Analysis.back' | translate}} "
                pTooltip="{{ 'Analysis.back' | translate}} " tooltipPosition="bottom"></button>
            </div>
            <div class="p-col-2">
              <!-- <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                class="p-button-warning p-mr-2" pTooltip="Xlsx" tooltipPosition="bottom"></button>
              <button type="button" pButton pRipple icon="pi pi-filter-slash" (click)="clearFilter()"
                class="p-ml-6 clearFilter" pTooltip="{{'Data_Table.clearFilter' | translate}}" *ngIf="filtersNo>0"
                tooltipPosition="bottom"></button> -->
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup">
          <colgroup>
            <col *ngFor="let col of cols">
          </colgroup>
        </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pResizableColumn pReorderableColumn class="p-text-center" *ngFor="let col of cols">
                {{col.header | translate}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row>
            <tr>
              <td pReorderableRowHandle *ngFor="let col of cols" class="p-text-right">
                <span *ngIf="col.field=='balance'">
                  {{ row[col.field]  | currency:'EUR':'' }}
                </span>
                <span *ngIf="col.field=='documentDate' || col.field=='executionDate' || col.field=='dueDate'">
                  {{ row[col.field]  | date: 'yyyy-MM-dd' }}
                </span>
                <span *ngIf="col.field!='balance' && col.field !='documentDate' && col.field !='executionDate' && col.field!='dueDate'">
                  {{ row[col.field] }}
                  </span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      
</div>