<div #services class="heading-block center border-0" data-heading="W">
    <h3>{{data.servicesTitle}}</h3>
</div>
<div class="row clearfix">
    <div class="center col-lg-8 offset-lg-2 bottommargin">
        <h3 class="text-rotater font-secondary" data-separator="," data-rotate="fadeInRight" data-speed="3500">
            {{data.servicesText}}
        </h3>
    </div>

    <div class="clear"></div>

    <!-- Features colomns
        ============================================= -->
    <div class="row clearfix">
        <div *ngFor="let item of items" class="col-lg-4 bottommargin-sm">
            <div class="feature-box media-box fbox-bg">
                <div class="fbox-media">
                    <a href="#"><img [src]="item.img" alt="Featured Box Image"></a>
                </div>
                <div class="fbox-content fbox-content-lg">
                    <h3 class="nott ls0 fw-semibold">{{item.title}}<span
                            class="subtitle font-secondary fw-light ls0">{{item.subtitle}}</span></h3>
                    <!-- <a href="#" class="button-link border-0 color">Read More</a> -->
                </div>
            </div>
        </div>

    </div>
</div>