<div class="heading-block center border-0" data-heading="W">
    <h3>What We Do</h3>
</div>
<div class="row clearfix">
    <div class="center col-lg-8 offset-lg-2 bottommargin">
        <h3 class="text-rotater font-secondary" data-separator="," data-rotate="fadeInRight" data-speed="3500">Canvas is
            a Powerful, Responsive &amp; Raw Multi-Purpose Multi-Page &amp;
            One-Page HTML5 Template. Build whatever you like with this Template. Be it <span class="d-inline"><span
                    class="t-rotate color">Business,Corporate,Medical,Travel,Construction,Real
                    Estate,Media Agency,Portfolio,Restaurant,Magazine,Wedding,Christmas,Blog,App
                    Showcase</span></span><br> just everything is possible with Canvas.</h3>
    </div>

    <div class="clear"></div>

    <!-- Features colomns
        ============================================= -->
    <div class="row clearfix">
        <div class="col-lg-4 bottommargin-sm">
            <div class="feature-box media-box fbox-bg">
                <div class="fbox-media">
                    <a href="#"><img src="assets/theme/images/featured/1.jpg" alt="Featured Box Image"></a>
                </div>
                <div class="fbox-content fbox-content-lg">
                    <h3 class="nott ls0 fw-semibold">Retina Ready Display<span
                            class="subtitle font-secondary fw-light ls0">Globally parallel task premium
                            infomediaries</span></h3>
                    <a href="#" class="button-link border-0 color">Read More</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 bottommargin-sm">
            <div class="feature-box media-box fbox-bg">
                <div class="fbox-media">
                    <a href="#"><img src="assets/theme/images/featured/2.jpg" alt="Featured Box Image"></a>
                </div>
                <div class="fbox-content fbox-content-lg">
                    <h3 class="nott ls0 fw-semibold">Ultra Responsive Design<span
                            class="subtitle font-secondary fw-light ls0">Energistically visualize
                            market-driven.</span></h3>
                    <a href="#" class="button-link border-0 color">Read More</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 bottommargin-sm">
            <div class="feature-box media-box fbox-bg">
                <div class="fbox-media">
                    <a href="#"><img src="assets/theme/images/featured/3.jpg" alt="Featured Box Image"></a>
                </div>
                <div class="fbox-content fbox-content-lg">
                    <h3 class="nott ls0 fw-semibold">1000+ HTML Pages Included<span
                            class="subtitle font-secondary fw-light ls0">Enthusiastically iterate
                            enabled portals after.</span></h3>
                    <a href="#" class="button-link border-0 color">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>