<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<div class="p-grid">
  <div class="p-col-12">
    <h2 class="p-text-center">{{procedureName}}</h2>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-8 p-mb-4 p-text-right">
    <p-toast></p-toast>
    <label>{{ 'Susa.from' | translate}} : </label>
    <p-calendar [(ngModel)]="fromDate" [minDate]="fromDate" [maxDate]="toDate" [monthNavigator]="true"
      [yearNavigator]="true" yearRange="{{fromDate.getFullYear()+':'+toDate.getFullYear()}}"
      dateFormat="dd.mm.yy"></p-calendar>
    &nbsp;
    <label>{{ 'Susa.to' | translate}} : </label>
    <p-calendar [(ngModel)]="toDate" [minDate]="fromDate" [maxDate]="toDate" [monthNavigator]="true"
      [yearNavigator]="true" yearRange="{{fromDate.getFullYear()+':'+toDate.getFullYear()}}"
      dateFormat="dd.mm.yy"></p-calendar>
    &nbsp;
    <button type="button" pButton pRipple icon="pi pi-filter" [disabled]="waiting"
      class="p-button-rounded p-button-primary" label="{{'Susa.search' | translate}}" (click)="getData();"
      pTooltip="{{ 'Susa.search' | translate}} " tooltipPosition="bottom">
      <i class="pi pi-spinner pi-spin" *ngIf="waiting"></i>
    </button>
  </div>
  <!-- <div class="p-sm-4">
    <p-progressSpinner *ngIf="waiting"></p-progressSpinner>
  </div> -->
</div>

<div class="p-grid">
  <div class="p-col-12">
    <p-progressBar mode="indeterminate" [style]="{'height': '5px'}" *ngIf="searching"></p-progressBar>

    <p-table #dt [value]="data" [resizableColumns]="true" dataKey="id" styleClass="p-datatable-gridlines"
      [loading]="waiting" [columns]="cols" responsive="true" [scrollable]="true" scrollHeight="350px"
      [reorderableColumns]="true">
      <ng-template pTemplate="caption">
        <div class="p-grid">
          <div class="p-col-1">
            <!-- Add Procedure -->
            <button type="button" pButton pRipple icon="pi pi-arrow-left" (click)="goBack()"
              class="p-button-rounded p-button-primary" label="{{ 'Susa.daten' | translate}} "
              pTooltip="{{ 'Susa.datenToolTip' | translate}} " tooltipPosition="bottom"></button>
          </div>
          <div class="p-col-2">
            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
              class="p-button-warning p-mr-2" pTooltip="Xlsx" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-filter-slash" (click)="clearFilter()"
              class="p-ml-6 clearFilter" pTooltip="{{'Data_Table.clearFilter' | translate}}" *ngIf="filtersNo>0"
              tooltipPosition="bottom"></button>
          </div>


        </div>
      </ng-template>
      <ng-template pTemplate="colgroup">
        <colgroup>
          <col *ngFor="let col of cols">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pResizableColumn pReorderableColumn class="p-text-center" *ngFor="let col of cols">
            <span pTooltip="{{ col.header | translate }}">{{col.header | translate}}></span></th>
        </tr>
        <tr>
          <th pResizableColumn *ngFor="let col of cols" class="autocomplete">
            <input pInputText type="text" [(ngModel)]="criteria[col.field]"
              *ngIf="col.field == 'accountType' || col.field == 'accountNumber' || col.field == 'accountName'"
              (input)="filterChange($any($event.target).value, col.field)" class="filterInputCss" />

            <!-- <p-autoComplete [suggestions]="completeWords" (completeMethod)="filterChange($event.query, col.field)"
            (onClear)="filterChange($event.query, col.field)" (onSelect)="filterChange($event.word, col.field)"
            field="word" [minLength]="1" [inputStyle]="{width:'90%'}" [style]="{width:'90%'}" appendTo="body"
            [(ngModel)]="criteria[col.field]"></p-autoComplete> -->

            <!-- <i class="pi pi-filter p-ml-2 iconColor" (click)="submitFilter()"
            pTooltip="{{'Data_Table.filter' | translate}}" tooltipPosition="bottom"></i> -->
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-row>
        <tr>
          <td pReorderableRowHandle *ngFor="let col of cols" class="p-text-right">
            <div
              *ngIf="(col.field == 'accountType' || col.field == 'accountNumber' || col.field == 'accountName');then withoutFilter else withFilter">
            </div>
            <ng-template #withoutFilter>
              <span pTooltip="{{ row[col.field] }}">
              {{ row[col.field] }}
              </span>
            </ng-template>
            <ng-template #withFilter>
              {{ (col.field == 'outamount'? +row['famount'] + +row['inamount'] : +row[col.field]) | currency:'EUR':''}}
            </ng-template>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">{{'not Found' | translate}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
