<p-toast></p-toast>
<h1  class="p-text-center">{{'precalc.precalc'| translate}}</h1>
<!-- <h2 class="p-text-center">{{procedureName}}</h2> -->

<p-progressBar *ngIf="waiting" mode="indeterminate" [style]="{'height': '5px'}"></p-progressBar>

<h3>{{'precalc.text_word'| translate}}</h3>
<button pButton label="{{'precalc.start'| translate}}" (click)="textByWordStart()" [disabled]="disabletextWord"></button>
<br><br>

<h3>{{'precalc.text_account'| translate}}</h3>
<button pButton label="{{'precalc.start'| translate}}" (click)="textByAccountStart()" [disabled]="disableText_account"></button>

<h3>{{'precalc.amount'| translate}}</h3>
<button pButton label="{{'precalc.start'| translate}}" (click)="amountStart()" [disabled]="disableAmount"></button>

<h3>{{'precalc.credit'| translate}}</h3>
<p *ngIf="disableDocType"> Please Set Document type for this procedure to enable calculation</p>
<button *ngIf="!disableDocType" pButton label="{{'precalc.start'| translate}}" (click)="creditorStart()" [disabled]="disableCredit"></button>

<h3>{{'precalc.payment'| translate}}</h3>
<p *ngIf="disableDocType"> Please Set Document type for this procedure to enable calculation</p>
<button *ngIf="!disableDocType" pButton label="{{'precalc.start'| translate}}" (click)="paymentStart()" [disabled]="disablePayment"></button>

<h3>{{'precalc.due_date'| translate}}</h3>
<p *ngIf="disableDocType"> Please Set Document type for this procedure to enable calculation</p>
<button *ngIf="!disableDocType" pButton label="{{'precalc.start'| translate}}" (click)="dueDateStart()" [disabled]="disableDueDate"></button>


<h3>{{'precalc.mailSender'| translate}}</h3>
<button pButton label="{{'precalc.start'| translate}}" (click)="mailBySenderStart()" [disabled]="disableMailSender"></button>

<h3>{{'precalc.mailWord'| translate}}</h3>
<button pButton label="{{'precalc.start'| translate}}" (click)="mailByWordStart()" [disabled]="disableMailWord"></button>