/* You can add global styles to this file, and also import other style files */
// @import '~assets/bootstrap-theme.min.css'

$primaryColor: #e75113
$secondary: #58585a


span
    font-family:'primeicons' !important



