<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<p-toast></p-toast>
<p-table [value]="procedures" [resizableColumns]="true" dataKey="id" styleClass="p-datatable-gridlines" [columns]="cols"
  responsive="true" [scrollable]="true" scrollHeight="400px" [reorderableColumns]="true">
  <ng-template pTemplate="caption" *ngIf="role==='Admin'">
    <div class="p-mb-4">
      <!-- Add Procedure -->
      <button type="button" pButton pRipple icon="pi pi-plus" (click)="addProcedure()"
        class="p-button-rounded p-button-primary"
        pTooltip="{{'Procedure_Registration.addProedurePlaceHolder' | translate}}" tooltipPosition="bottom"></button>
    </div>
  </ng-template>
  <ng-template pTemplate="colgroup">
    <colgroup>
      <col *ngFor="let col of cols">
      <col>
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pResizableColumn pReorderableColumn class="p-text-{{col.align}}" *ngFor="let col of cols">
        {{ col.header | translate}}
      </th>
      <th *ngIf="role!=='User'" style="width: 10em"> </th>

    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-procedure>
    <tr>
      <td pReorderableRowHandle *ngFor="let col of cols" class="p-text-{{col.align}}">
        <i *ngIf="procedure[col.field]?.toString().toLowerCase().trim() == 'true'" class="pi pi-check checkIcon"></i> <i
          *ngIf="procedure[col.field]?.toString().toLowerCase().trim() == 'false'" class="pi pi-times closeIcon"></i>
        {{ (procedure[col.field]?.toString().toLowerCase().trim() != 'true' &&
        procedure[col.field]?.toString().toLowerCase().trim() != 'false') ? procedure[col.field] : ''}}
      </td>
      <td *ngIf="role!=='User'" style="width: 10em" class="p-text-right">
        <button pButton pRipple type="button" icon="pi pi-bookmark"
          class="p-button-rounded p-button-warning headerColor" pTooltip="{{'Admin_Dashboard.show' | translate}}"
          tooltipPosition="bottom" (click)="dataTable(procedure)"></button> &nbsp;
        <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-warning headerColor"
          pTooltip="{{'Procedure_Registration.editProedurePlaceHolder' | translate}}" tooltipPosition="bottom"
          (click)="editProcedure(procedure)"></button> &nbsp;
        <button pButton (click)="reset(procedure)" icon="pi pi-times" pRipple class="p-button-rounded p-button-warning headerColor"
          pTooltip="{{'Admin_Dashboard.delete' | translate}}"  tooltipPosition="bottom" [disabled]="procedure.status=='NOT_IMPORTED'"></button>
      </td>

    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="4">{{'Procedure_Registration.NoProceduresFound' | translate}}</td>
    </tr>
  </ng-template>
</p-table>