<p-table [value]="procedures"  [resizableColumns]="true" dataKey="id" styleClass="p-datatable-gridlines" >
    <ng-template pTemplate="header">
        <tr >
            <th pResizableColumn ><span class="headerColor">{{'Procedure_Registration.name' | translate}}</span>  </th>
            <th pResizableColumn> <span class="headerColor">{{'Procedure_Registration.datasource' | translate}}</span> </th>
            <th pResizableColumn >  <span class="headerColor">{{'Procedure_Registration.data' | translate}}</span></th>
            <th pResizableColumn > <span class="headerColor">{{'Procedure_Registration.analysis' | translate}}</span> </th>
            <th *ngIf="role!=='User'" style="width: 4rem"  > </th>
            <th *ngIf="role==='Admin'" style="width: 4rem; border: none; background-color: #ffff; color:#58585a"  ><i  class="pi pi-plus-circle" pTooltip="{{'Procedure_Registration.addProedurePlaceHolder' | translate}}" tooltipPosition="bottom" (click) = "addProcedure()"></i>  </th>

        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-procedure  >
        <tr >

            <td  pResizableColumn  class="ui-resizable-column pointer " (click) = "dataTable(procedure.id)">{{procedure.name}}</td>
            <td  pResizableColumn  class="ui-resizable-column">{{procedure.dataSource}}</td>
            <td  pResizableColumn  class="ui-resizable-column" ><i *ngIf="procedure.data" class="pi pi-check checkIcon"></i> <i *ngIf="!procedure.data" class="pi pi-times closeIcon"></i></td>
            <td  pResizableColumn  class="ui-resizable-column" ><i *ngIf="procedure.analysis" class="pi pi-check checkIcon"></i> <i *ngIf="!procedure.analysis" class="pi pi-times closeIcon"></i></td>               
            <td  *ngIf="role!=='User'" style="width: 4rem"  ><i  class="pi pi-pencil headerColor" pTooltip="{{'Procedure_Registration.editProedurePlaceHolder' | translate}}" tooltipPosition="bottom" (click) = "editProcedure(procedure.id, procedure.name, procedure.data, procedure.analysis )"></i> </td>               

        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="4">{{'Procedure_Registration.NoProceduresFound' | translate}}</td>
        </tr>
    </ng-template>
</p-table>