<section id="slider" class="slider-element slider-parallax swiper_wrapper min-vh-60 min-vh-md-100 include-header"
    data-loop="true" style="margin-top: -4.5%;">

    <div class="slider-inner">
        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div #slider1 *ngIf="slideNo==1" class="swiper-slide dark">
                    <div class="container">
                        <div class="slider-caption slider-caption-center">
                            <div>
                                <h2 class="font-primary nott">{{data.sliderTitle1}}</h2>
                                <p class="fw-light font-primary d-none d-sm-block">{{data.sliderSubTitle1}}</p>
                                <!-- <a href="#" class="button button-rounded button-large nott ls0 font-primary">Get
                                    Started</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide-bg" style="background-image: url('{{data.sliderImg1}}');">
                    </div>
                </div>
                <div #slider2 *ngIf="slideNo==2" class="swiper-slide dark">
                    <div class="container">
                        <div class="slider-caption slider-caption-center">
                            <div>
                                <h2 class="font-primary">{{data.sliderTitle2}}</h2>
                                <p class="fw-light font-primary d-none d-sm-block">{{data.sliderSubTitle2}}</p>
                                <!-- <a href="#" class="button button-rounded button-large nott ls0 font-primary">Get
                                    Started</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide-bg" style="background-image: url('{{data.sliderImg2}}');">
                    </div>
                </div>
                <div #slider3 *ngIf="slideNo==3" class="swiper-slide dark">
                    <div class="container">
                        <div class="slider-caption slider-caption-center">
                            <div>
                                <h2 class="font-primary">{{data.sliderTitle3}}.</h2>
                                <p class="fw-light font-primary d-none d-sm-block">{{data.sliderSubTitle3}}</p>
                                <!-- <a href="#" class="button button-rounded button-large nott ls0 font-primary">Get
                                    Started</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide-bg" style="background-image: url('{{data.sliderImg3}}');">
                    </div>
                </div>
            </div>
            <!-- Slider Arrows
            ============================================= -->
            <div class="slider-arrow-left" (click)="slideLeft()"><i class="icon-line-arrow-left"></i></div>
            <div class="slider-arrow-right" (click)="slideRight()"><i class="icon-line-arrow-right"></i></div>
        </div>

        <!-- Slider Mouse Icon
        ============================================= -->
        <a (click)="navigateTo('services')" data-offset="0" class="dark one-page-arrow"><img
                class="infinite animated fadeInDown" src="assets/theme/images/mouse.svg" alt="Image"></a>
    </div>

</section>