
<div class="p-grid">

    <div class="p-col-10">
        <p-table #dt dataKey="id" [value]="data">
    
          <ng-template pTemplate="header">
            <tr>
              <th>{{ 'DataTableColumns.accountNumber' | translate}}</th>
              <th>{{ 'DataTableColumns.accountName' | translate}}</th>
              <th>{{ 'DataTableColumns.accountType' | translate}}</th>
              <th>{{ 'DataTableColumns.documentType' | translate}}</th>
              <th>{{ 'DataTableColumns.balance' | translate}}</th>
              <th>{{ 'DataTableColumns.contraAccountNumber' | translate}}</th>
              <th>{{ 'DataTableColumns.contraAccountName' | translate}}</th>
              <th>{{ 'DataTableColumns.documentTypeNew' | translate}}</th>
               <th>{{ 'DataTableColumns.documentNumber' | translate}}</th>
              <th>{{ 'DataTableColumns.documentDate '| translate}}</th>
              <th>{{ 'DataTableColumns.recordNumber '| translate}}</th>
              <th>{{ 'DataTableColumns.ledgerId '| translate}}</th>
              <th>{{ 'DataTableColumns.executionDate' | translate}}</th>
              <th>{{ 'DataTableColumns.dueDate' | translate}}</th> 
              <th>{{ 'DataTableColumns.reference' | translate}}</th>
              <th>{{ 'DataTableColumns.textPosting' | translate}}</th>
              <th>{{ 'DataTableColumns.textHeader' | translate}}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row>
            <tr>
              <td>{{row.accountNumber}}</td>
              <td>{{row.accountName}}</td>
              <td>{{row.accountType}}</td>
              <td>{{row.documentType}}</td>
              <td>{{row.balance | currency:'EUR':''}}</td>
              <td>{{row.contraAccountNumber}}</td>
              <td>{{row.contraAccountName}}</td>
              <td>{{row.documentTypeNewName}}</td>
              <td>{{row.documentNumber}}</td>
              <td>{{row.documentDate | date: 'yyyy-MM-dd'}}</td>
              <td>{{row.recordNumber}}</td>
              <td>{{row.ledgerId}}</td>
              <td>{{row.executionDate | date: 'yyyy-MM-dd'}}</td>
              <td>{{row.dueDate | date: 'yyyy-MM-dd'}}</td>
              <td>{{row.reference}}</td>
              <td>{{row.textPosting}}</td>
              <td>{{row.textHeader}}</td>

            </tr>
          </ng-template>
        </p-table>
      </div>

      
</div>