<p-toast></p-toast>
<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<div class="p-grid">
  <div class="p-col-12">
    <h2 class="p-text-center">{{ procedureName }}</h2>
    <p-progressBar
      mode="indeterminate"
      [style]="{ height: '5px' }"
      *ngIf="waiting"
    ></p-progressBar>
    <button
      type="button"
      pButton
      pRipple
      label="{{ 'DueDateAnalysis.backToPayment' | translate }}"
      class="p-button-rounded p-button-warning"
      (click)="backToPayment()"
      pTooltip="{{ 'PaymentAnalysis.backToPayment' | translate }}"
      tooltipPosition="bottom"
    ></button>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-12">
    <h4 class="p-text-center">All Accounts</h4>
    <div class="card p-text-center">
      <p-chart
        #chart
        type="line"
        height="350"
        [data]="basicData"
        [options]="basicOptions"
      >
      </p-chart>
    </div>
  </div>

  <div class="p-col-12">
    <h4 class="p-text-center">All Accounts</h4>
    <div class="card p-text-center">
      <p-chart
        #chart2
        type="bar"
        height="350"
        [data]="docDateData"
        [options]="basicOptions"
      >
      </p-chart>
    </div>
  </div>

  <div class="p-col-12">
    <div class="card p-text-center">
      <p-table
        [value]="delayData"
        [resizableColumns]="true"
        styleClass="p-datatable-gridlines"
        [columns]="delayCols"
        responsive="true"
        [scrollable]="true"
        scrollHeight="350px"
        [reorderableColumns]="true"
        [loading]="waiting"
      >
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" />
            <col />
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th
              pSortableColumn="{{ col.field }}"
              pResizableColumn
              pReorderableColumn
              class="p-text-{{ col.align }}"
              *ngFor="let col of columns"
            >
              <span pTooltip="{{ col.header | translate }}">
                {{ col.header | translate }}
              </span>
              <p-sortIcon field="{{ col.field }}"></p-sortIcon>
            </th>
            <th>Details</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-columns="columns">
          <tr [pSelectableRow]="row">
            <td *ngFor="let col of columns" class="p-text-{{ col.align }}">
              <!-- <span *ngIf="col.field=='delayPos' || col.field=='delayNeg'">
                {{ row[col.field]  | currency:'EUR':'' }}
              </span> -->
              <span pTooltip="{{ row[col.field] }}">
                {{ row[col.field] }}
              </span>
            </td>
            <td>
              <button
                type="button"
                pButton
                pRipple
                icon="pi pi-list"
                class="p-button-rounded p-button-warning"
                (click)="goToDetails(row)"
                pTooltip="Details"
                tooltipPosition="bottom"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <!-- <div class="p-col-10">
    <div class="card p-text-center">
      <p-chart #chart2 type="bar" height="350" [data]="notPaidChartData" [options]="basicOptions">
      </p-chart>
    </div>
  </div> -->

  <!-- <div class="p-col-10">
    <div class="card p-text-center">
      <p-table [value]="notPaidDataTable" [resizableColumns]="true" styleClass="p-datatable-gridlines" [columns]="notPaidCols"
        responsive="true" [scrollable]="true" scrollHeight="350px" [reorderableColumns]="true">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th pResizableColumn pReorderableColumn  class="p-text-{{col.align}}" *ngFor="let col of columns">
              {{col.header | translate}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-columns="columns">
          <tr [pSelectableRow]="row">
            <td *ngFor="let col of columns" class="p-text-right">
              <span *ngIf="col.field=='date'">
                {{ row.monthName + '-' + row.yearName }}
              </span>
              <span *ngIf="col.field=='notPaid'">
                {{ +row.notPaid | currency:'EUR':'' }}
              </span>
              <span *ngIf="col.field!='date' && col.field!='notPaid'">
                {{ row[col.field] }}
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div> -->
</div>
