<p-toast></p-toast>
<p-breadcrumb [model]="items" [home]="home" *ngIf="!details"></p-breadcrumb>
<div class="p-grid">
  <div class="p-col-12">
    <!-- <h2 class="p-text-center">{{ procedureName }}</h2> -->
    <p-progressBar mode="indeterminate" [style]="{ height: '5px' }" *ngIf="waiting"></p-progressBar>
    <!-- <button type="button" pButton pRipple label="{{ 'DueDateAnalysis.backToPayment' | translate }}"
      class="p-button-rounded p-button-warning" (click)="backToPayment()"
      pTooltip="{{ 'PaymentAnalysis.backToPayment' | translate }}" tooltipPosition="bottom"></button> -->
  </div>
  <!-- <div class="p-col-12">
    <p class="p-text-left" style="margin-left: -25px;">{{minDate | date}} - {{toDate | date}}</p>
  </div> -->
  <!-- <div class="p-col-1">
    <p class="p-text-right">{{minDate | date}}</p>
  </div>
  <div class="p-col-2"></div>
  <div class="p-col-1">
    <p class="p-text-left">{{toDate | date}}</p>
  </div>
  <div class="p-col-8"></div> -->
  <!-- <div class="p-col-3"></div> -->
  <div class="p-col-1 p-text-right" style="margin-top: 5px;" *ngIf="!details">{{minDate | date}}</div>
  <!-- [style]="{width:'300px'}" -->
  <div class="p-col-4" style="text-align: center;margin-top: 5px;" *ngIf="!details">
    <p-slider [(ngModel)]="rangeValues" [range]="true" (onChange)="handleSliderChange($event)" [min]="0"
      [max]="maxRange"></p-slider>
  </div>
  <div class="p-col-1" style="margin-top: 5px;" *ngIf="!details">{{toDate | date}}</div>

  <!-- [(ngModel)]="selectedAccount"  (onChange)="accountChangedHandler($event)" 
      [style]="{width:'300px'}"-->
  <div class="p-col-3 p-text-center" *ngIf="!details">
    <p-dropdown [options]="delayData" placeholder=" {{'DueDateAnalysis.selectAccount' | translate}}"
      optionLabel="accountName" [showClear]="true" [filter]="true" [(ngModel)]="selectedAccount" filterBy="accountName"
      [style]="{width:'100%'}">
      <ng-template pTemplate="selectedItem">
        <div class="account-item account-item-value" *ngIf="selectedAccount">
          <div>{{selectedAccount.accountNumber + ' - ' + selectedAccount.accountName}}</div>
        </div>
      </ng-template>
      <ng-template let-account pTemplate="item">
        <div>{{account.accountNumber + ' - ' + account.accountName}}</div>
      </ng-template>
    </p-dropdown>
  </div>
  <div class="p-col-2" *ngIf="!details">
    <p-inputNumber [(ngModel)]="maxDelay" mode="decimal" [min]="0" [useGrouping]="false" [showButtons]="true"
      buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="10"
      decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary"
      incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" size="6" [style]="{width:'100%'}">
    </p-inputNumber>
  </div>
  <!-- <div class="p-col-6"></div> -->
  <div class="p-col-1 p-text-left" *ngIf="!details">
    <button pButton pRipple type="button" label="{{'DueDateAnalysis.search' | translate}}" icon="pi pi-search"
      (click)="getData()" class="p-button-rounded p-button-primary"></button>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-6" *ngIf="!details">
    <div class="card p-text-center">
      <p-chart #chart type="line" height="350" [data]="basicData" [options]="basicOptions">
      </p-chart>
    </div>
  </div>

  <div class="p-col-6" *ngIf="!details">
    <div class="card p-text-center">
      <p-chart #chart2 type="scatter" height="350" [data]="secondChartData" [options]="secondChartOptions">
      </p-chart>
    </div>
  </div>

  <div class="p-col-12" *ngIf="details">
    <div class="card p-text-center">
      <p-chart #chart2 type="scatter" height="350" [data]="secondChartData" [options]="secondChartOptions">
      </p-chart>
    </div>
  </div>

  <!-- <div class="p-col-12">
    <h4 class="p-text-center">All Accounts</h4>
    <div class="card p-text-center">
      <p-chart #chart2 type="bar" height="350" [data]="docDateData" [options]="basicOptions">
      </p-chart>
    </div>
  </div> -->

  <!-- <div class="p-col-12">
    <div class="card p-text-center">
      <p-table [value]="delayData" [resizableColumns]="true" styleClass="p-datatable-gridlines" [columns]="delayCols"
        responsive="true" [scrollable]="true" scrollHeight="350px" [reorderableColumns]="true" [loading]="waiting">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" />
            <col />
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th pSortableColumn="{{ col.field }}" pResizableColumn pReorderableColumn class="p-text-{{ col.align }}"
              *ngFor="let col of columns">
              <span pTooltip="{{ col.header | translate }}">
                {{ col.header | translate }}
              </span>
              <p-sortIcon field="{{ col.field }}"></p-sortIcon>
            </th>
            <th>Details</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-columns="columns">
          <tr [pSelectableRow]="row">
            <td *ngFor="let col of columns" class="p-text-{{ col.align }}">
              <span pTooltip="{{ row[col.field] }}">
                {{ row[col.field] }}
              </span>
            </td>
            <td>
              <button type="button" pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-warning"
                (click)="goToDetails(row)" pTooltip="Details" tooltipPosition="bottom"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div> -->

  <!-- <div class="p-col-10">
    <div class="card p-text-center">
      <p-chart #chart2 type="bar" height="350" [data]="notPaidChartData" [options]="basicOptions">
      </p-chart>
    </div>
  </div> -->

  <!-- <div class="p-col-10">
    <div class="card p-text-center">
      <p-table [value]="notPaidDataTable" [resizableColumns]="true" styleClass="p-datatable-gridlines" [columns]="notPaidCols"
        responsive="true" [scrollable]="true" scrollHeight="350px" [reorderableColumns]="true">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th pResizableColumn pReorderableColumn  class="p-text-{{col.align}}" *ngFor="let col of columns">
              {{col.header | translate}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-columns="columns">
          <tr [pSelectableRow]="row">
            <td *ngFor="let col of columns" class="p-text-right">
              <span *ngIf="col.field=='date'">
                {{ row.monthName + '-' + row.yearName }}
              </span>
              <span *ngIf="col.field=='notPaid'">
                {{ +row.notPaid | currency:'EUR':'' }}
              </span>
              <span *ngIf="col.field!='date' && col.field!='notPaid'">
                {{ row[col.field] }}
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div> -->
</div>

<div class="p-grid" *ngIf="selectedAccount && selectedAccount.accountNumber">
  <div class="p-col-12">
    <div class="card p-text-center">
      <p-table [value]="detailsData" [resizableColumns]="true" styleClass="p-datatable-gridlines"
        [columns]="detailsCols" responsive="true" [scrollable]="true" scrollHeight="350px" [reorderableColumns]="true"
        [loading]="waiting">
        <ng-template pTemplate="caption">
          <div class="p-grid">
            <div class="p-col-1 p-text-left">
              <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                class="p-button-warning p-mr-2" pTooltip="Xlsx" tooltipPosition="bottom"></button>
              <button type="button" pButton pRipple icon="pi pi-filter-slash" (click)="clearFilter()"
                class="p-ml-6 clearFilter" pTooltip="{{'Data_Table.clearFilter' | translate}}" *ngIf="filtersNo>0"
                tooltipPosition="bottom"></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" />
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th pSortableColumn="{{ col.field }}" pResizableColumn pReorderableColumn class="p-text-{{ col.align }}"
              *ngFor="let col of columns">
              <span pTooltip="{{ col.header | translate }}">
                {{ col.header | translate }}
              </span>
              <p-sortIcon field="{{ col.field }}"></p-sortIcon>
            </th>
          </tr>
          <th pResizableColumn *ngFor="let col of columns" class="autocomplete">
            <input *ngIf="
              col.field != 'documentDate' &&
              col.field != 'dueDate' &&
              col.field != 'applicationDate' 
            " pInputText type="text" [(ngModel)]="criteria[col.field]" [style]="{ width: '90%' }"
              (input)="filterChange($any($event.target).value, col.field)" class="filterInputCss" />
            <p-calendar *ngIf="
              col.field == 'documentDate' ||
              col.field == 'dueDate' ||
              col.field == 'applicationDate' 
            " [(ngModel)]="criteria[col.field]" (onSelect)="filterChange($event, col.field)" [monthNavigator]="true"
              [yearNavigator]="true" yearRange="1900:2100" appendTo="body" dateFormat="dd.mm.yy" showButtonBar="true"
              (onClearClick)="filterChange($event, col.field)">
            </p-calendar>
          </th>
        </ng-template>
        <ng-template pTemplate="body" let-row let-columns="columns">
          <tr [pSelectableRow]="row">
            <td *ngFor="let col of columns" class="p-text-{{ col.align }}">
              <span *ngIf="col.field == 'balance'">
                {{ row[col.field] | currency: "EUR":"" }}
              </span>
              <span *ngIf="
                col.field == 'dueDate' ||
                col.field == 'applicationDate' ||
                col.field == 'documentDate'
              ">
                {{ row[col.field] | date: "dd.MM.yyyy" }}
              </span>
              <span pTooltip="{{ row[col.field] }}" *ngIf="
                col.field != 'balance' &&
                col.field != 'documentDate' &&
                col.field != 'dueDate' &&
                col.field != 'applicationDate'
              ">
                {{ row[col.field] }}
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>