<div class="p-mt-2">
  <p-table [value]="organisations" [columns]="cols" dataKey="id" styleClass="p-datatable-gridlines"
    [resizableColumns]="true" responsive="true" [scrollable]="true" scrollHeight="400px" [reorderableColumns]="true">
    <ng-template pTemplate="colgroup">
      <colgroup>
        <col *ngFor="let col of cols">
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header" >
      <tr>
        <th pResizableColumn pReorderableColumn  *ngFor="let col of cols" class="p-text-{{col.align}}">
          {{col.header | translate}}
        </th>
        <th>{{'Data_Table.actions' | translate}}</th>
      </tr>

    </ng-template>

    <ng-template pTemplate="body" let-organisation>
      <tr>
        <td pReorderableRowHandle *ngFor="let col of cols"  class="p-text-{{col.align}}">{{organisation[col.field]}}</td>
        <td pReorderableRowHandle>
          <button pButton pRipple type="button" icon="pi pi-bookmark" class="p-button-rounded p-button-warning"
            pTooltip="{{'Admin_Dashboard.show' | translate}}" tooltipPosition="bottom"
            (click)="showProcedures(organisation.id)"></button> &nbsp;
          <button pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-warning"
            pTooltip="{{'Admin_Dashboard.show' | translate}}" tooltipPosition="bottom"
            (click)="showUsers(organisation.id)"></button>&nbsp;
          <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-warning"
            pTooltip="{{'general_actions.edit' | translate }}" tooltipPosition="bottom" (click)="editOrg(organisation.id)"></button>
        </td>

      </tr>
    </ng-template>


    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No organisations found.</td>
      </tr>
    </ng-template>
  </p-table>

</div>
