
<div class="p-grid cardBody"  >
    <div class="p-xs-12 p-xs-offset-0 p-md-6 p-md-offset-3 content">
        <p-toast></p-toast>

        <h5 > Venator-Portal reset Password</h5>

            <div class="p-field p-grid">
                <label for="firstname" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0"> email: </label>
                <div class="p-col-12 p-md-9">
                    {{email}}
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="lastname" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0"> username: </label>
                <div class="p-col-12 p-md-9">
                    {{username}}
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="selectedPassword" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0"> new password* </label>
                <div class="p-col-12 p-md-9">
                    <input  id="selectedPassword" type="password" pinputtext class="p-inputtext p-component"> 
                </div>
            </div>


            <div class="p-field p-grid">
                <label for="confirmedPassword" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0"> confirmed password* </label>
                <div class="p-col-12 p-md-9">
                    <input  id="confirmedPassword" type="password" pinputtext class="p-inputtext p-component"> 
                </div>
<!--                    <p-password [(ngModel)]="value4">
                    <ng-template pTemplate="header">
                        <h6>Pick a password</h6>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p-divider></p-divider>
                        <p class="p-mt-2">Suggestions</p>
                        <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                            <li>At least one lowercase</li>
                            <li>At least one uppercase</li>
                            <li>At least one numeric</li>
                            <li>Minimum 8 characters</li>
                        </ul>
                    </ng-template>
                </p-password> -->
            </div>


            <div class="p-field p-grid">
                <button pbutton pripple type="button" label="Submit" class="p-mt-4  p-ripple p-button p-component buttonCss"  >
                    <span class="p-button-label"> Submit </span>
                </button>
            </div>


    
</div>
