
 <div class="p-xs-10 p-xs-offset-1 p-md-8 p-md-offset-2">
    <div class="card">
        <p-toast></p-toast>

        <h5 class="p-text-center"> Venator-Portal reset Password </h5>
        <form class="p-fluid"  (ngSubmit)="submitHandle()">


            <div class="p-fluid">

  
            <div class="p-field p-grid">
                <label for="selectedPassword" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">new password</label>
                <div class="p-col-12 p-md-10">
                    <input required #selectedPassword="ngModel"  name="selectedPassword" type="password" pinputtext class="p-inputtext p-component ng-untouched ng-pristine ng-valid"  [(ngModel)]="passwordObj.selectedPassword" > 
                    <small *ngIf="selectedPassword.invalid && selectedPassword.touched " class="spanCss ">password is required</small>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="confirmedPassword" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">new password confirmation</label>
                <div class="p-col-12 p-md-10">
                    <input required #confirmedPassword="ngModel"  name="confirmedPassword" type="password" pinputtext class="p-inputtext p-component ng-untouched ng-pristine ng-valid"  [(ngModel)]="passwordObj.confirmedPassword" > 
                    <small *ngIf="confirmedPassword.invalid && confirmedPassword.touched " class="spanCss ">password is required</small>
                </div>
            </div>
            <div class="p-field p-grid">
                <div class="p-xs-8 p-xs-offset-2 p-md-6 p-md-offset-3 ">
                    <button pbutton pripple type="submit" label="Submit" class="p-mt-4  p-ripple p-button p-component submitButtonCss p-filled"   >
                        <span class="p-button-label"> Submit </span>
                    </button>
                </div>

            </div>
        </div>
        </form>
    </div>
</div>

