<div class="p-xs-10 p-xs-offset-1 p-md-8 p-md-offset-2">
    <div class="card" style="padding: 20px;">
        <p-toast></p-toast>
        <h5 class="p-text-center"> Manage Contact us Section </h5>
        <form class="p-fluid" (ngSubmit)="submitHandler()">
            <div class="p-fluid">
                <div class="p-field p-grid">
                    <label for="email" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Email</label>
                    <div class="p-col-12 p-md-10">
                        <input required #email="ngModel" name="email" type="text" pinputtext
                            class="p-inputtext p-component ng-untouched ng-pristine ng-valid" [(ngModel)]="data.email">
                        <small *ngIf="email.invalid && email.touched " class="spanCss ">
                            Email is required</small>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="phone" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Phone
                    </label>
                    <div class="p-col-12 p-md-10">
                        <input required #phone="ngModel" name="phone" type="tel" pinputtext
                            class="p-inputtext p-component ng-untouched ng-pristine ng-valid" [(ngModel)]="data.phone">
                        <small *ngIf="phone.invalid && phone.touched " class="spanCss ">
                            Phone is required</small>
                    </div>
                </div>

                <div class="p-field p-grid">
                    <label for="fax" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Fax </label>
                    <div class="p-col-12 p-md-10">
                        <input required #fax="ngModel" name="fax" type="tel" pinputtext
                            class="p-inputtext p-component ng-untouched ng-pristine ng-valid" [(ngModel)]="data.fax">
                        <small *ngIf="fax.invalid && fax.touched " class="spanCss ">
                            Fax is required</small>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="postCode" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Post Code
                    </label>
                    <div class="p-col-12 p-md-10">
                        <input required #postCode="ngModel" name="postCode" type="text" pinputtext
                            class="p-inputtext p-component ng-untouched ng-pristine ng-valid"
                            [(ngModel)]="data.postCode">
                        <small *ngIf="postCode.invalid && postCode.touched " class="spanCss ">
                            Post Code is required</small>
                    </div>
                </div>


                <div class="p-field p-grid">
                    <label for="houseNr" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> House Nr </label>
                    <div class="p-col-12 p-md-10">
                        <input required #houseNr="ngModel" name="houseNr" type="text" pinputtext
                            class="p-inputtext p-component ng-untouched ng-pristine ng-valid"
                            [(ngModel)]="data.houseNr">
                        <small *ngIf="houseNr.invalid && houseNr.touched " class="spanCss ">
                            House Nr is required</small>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="street" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Street
                    </label>
                    <div class="p-col-12 p-md-10">
                        <input required #street="ngModel" name="street" type="text" pinputtext
                            class="p-inputtext p-component ng-untouched ng-pristine ng-valid" [(ngModel)]="data.street">
                        <small *ngIf="street.invalid && street.touched " class="spanCss ">
                            Street is required</small>
                    </div>
                </div>

                <div class="p-field p-grid">
                    <label for="city" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> City
                    </label>
                    <div class="p-col-12 p-md-10">
                        <input required #city="ngModel" name="city" type="text" pinputtext
                            class="p-inputtext p-component ng-untouched ng-pristine ng-valid" [(ngModel)]="data.city">
                        <small *ngIf="city.invalid && city.touched " class="spanCss ">
                            City is required</small>
                    </div>
                </div>

                <div class="p-field p-grid">
                    <label for="country" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Country
                    </label>
                    <div class="p-col-12 p-md-10">
                        <input required #country="ngModel" name="country" type="text" pinputtext
                            class="p-inputtext p-component ng-untouched ng-pristine ng-valid"
                            [(ngModel)]="data.country">
                        <small *ngIf="country.invalid && country.touched " class="spanCss ">
                            Country is required</small>
                    </div>
                </div>

                <div class="p-field p-grid">
                    <div class="p-xs-col-5 ">
                        <button pbutton pripple type="submit" label="Submit"
                            class="p-mt-4  p-ripple p-button p-component ">
                            <span class="p-button-label"> Save </span>
                        </button>
                    </div>

                </div>

            </div>
        </form>
    </div>
</div>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
<div class="p-grid">
    <div class="p-col-12">
        <p-progressBar mode="indeterminate" [style]="{ height: '5px' }" *ngIf="waiting"></p-progressBar>
        <p-table #dt dataKey="id" [value]="links" [columns]="cols" styleClass="p-datatable-gridlines"
            [resizableColumns]="true" responsive="true" [scrollable]="true" scrollHeight="400px"
            [reorderableColumns]="true" [loading]="waiting">
            <ng-template pTemplate="colgroup">
                <colgroup>
                    <col *ngFor="let col of cols">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="caption">
                <div class="p-mb-4">
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
                        (click)="openNew()"></button>
                    <button type="button" pButton pRipple icon="pi pi-filter-slash" (click)="clearFilter()"
                        class="p-ml-6 clearFilter" pTooltip="{{'Data_Table.clearFilter' | translate}}"
                        *ngIf="filtersNo>0" tooltipPosition="bottom"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="{{col.field}}" pResizableColumn pReorderableColumn class="p-text-{{col.align}}"
                        *ngFor="let col of cols">
                        {{col.header | translate}}
                        <p-sortIcon field="{{col.field}}"></p-sortIcon>
                    </th>
                    <th>Action
                    </th>
                </tr>
                <tr>
                    <th pResizableColumn *ngFor="let col of cols" class="autocomplete">
                        <input pInputText type="text" [(ngModel)]="criteria[col.field]" [style]="{width:'90%'}"
                            (input)="filterChange($any($event.target).value, col.field)" class="filterInputCss" />
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td pReorderableRowHandle *ngFor="let col of cols">
                        <div *ngIf="!row.isEditable">
                            {{ row[col.field] }}
                        </div>
                        <div *ngIf="row.isEditable && col.field != 'order' && col.field != 'icon'">
                            <input type="text" pInputText [(ngModel)]="row[col.field]" />
                        </div>
                        <div *ngIf="row.isEditable && col.field == 'order'">
                            <p-inputNumber id="order" [(ngModel)]="row[col.field]" mode="decimal"></p-inputNumber>
                        </div>
                        <div *ngIf="row.isEditable && col.field == 'icon'">
                            <p-dropdown [options]="icons" [(ngModel)]="row[col.field]" optionLabel="label" [style]="{ width: '100%' }" 
                                optionValue="value" appendTo="body" [filter]="true" filterBy="label" [showClear]="true"
                                placeholder="Select an icon" [virtualScroll]="true" >
                                <ng-template pTemplate="selectedItem">
                                    <div *ngIf="row.icon">
                                        <div><span class="icon-{{row.icon}}"></span> &nbsp; {{row.icon}}</div>
                                    </div>
                                </ng-template>
                                <ng-template let-rec pTemplate="item">
                                    <div>
                                        <div><span class="icon-{{rec.value}}"></span> &nbsp; {{rec.label}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </td>
                    <td>
                        <button type="button" pButton pRipple icon="pi pi-pencil" (click)="editRow(row)"
                            class="p-button-rounded p-button-warning" *ngIf="!row.isEditable"
                            pTooltip="{{'Document_Type.Edit' | translate}}" tooltipPosition="bottom"></button> &nbsp;
                        <button type="button" pButton pRipple icon="pi pi-save" (click)="save(row)"
                            class="p-button-rounded p-button-warning" *ngIf="row.isEditable"
                            pTooltip="{{'Document_Type.Save' | translate}}" tooltipPosition="bottom"></button> &nbsp;
                        <button type="button" pButton pRipple icon="pi pi-times" (click)="cancel(row)"
                            class="p-button-rounded p-button-warning" *ngIf="row.isEditable"
                            pTooltip="{{'Document_Type.Cancel' | translate}}" tooltipPosition="bottom"></button>
                        <button type="button" pButton pRipple icon="pi pi-trash" (click)="reset(row)"
                            class="p-button-rounded p-button-warning" *ngIf="!row.isEditable"
                            pTooltip="{{'general_actions.delete' | translate}}" tooltipPosition="bottom"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>



<p-dialog [(visible)]="linkDialog" [style]="{width: '450px'}" header="link Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="link.name" required autofocus />
            <small class="p-error" *ngIf="submitted && !link.name">Name is required.</small>
        </div>
        <div class="p-field">
            <label for="icon">Icon</label>
            <p-dropdown [options]="icons" [(ngModel)]="link.icon" optionLabel="label" optionValue="value"
                appendTo="body" [filter]="true" filterBy="label" [showClear]="true" placeholder="Select an icon"
                [virtualScroll]="true" [itemSize]="30">
                <ng-template pTemplate="selectedItem">
                    <div *ngIf="link.icon">
                        <div><span class="icon-{{link.icon}}"></span> &nbsp; {{link.icon}}</div>
                    </div>
                </ng-template>
                <ng-template let-rec pTemplate="item">
                    <div>
                        <div><span class="icon-{{rec.value}}"></span> &nbsp; {{rec.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <!-- <input type="text" pInputText id="icon" [(ngModel)]="link.icon" required /> -->
        </div>
        <div class="p-field">
            <label for="url">URL</label>
            <input type="text" pInputText id="url" [(ngModel)]="link.url" required />
        </div>

        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="order">Order</label>
                <p-inputNumber id="order" [(ngModel)]="link.order" mode="decimal"></p-inputNumber>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="savelink()"></button>
    </ng-template>
</p-dialog>