<div class="card" style="overflow-x: scroll;">
  <p-toast></p-toast>
  <!-- [paginator]="true"   [rowsPerPageOptions]="[25,50,100]" [rows]="25"  [scrollable]="true"-->
  <p-table #dt [value]="postings" [columns]="cols" [loading]="loading" 
     [reorderableColumns]="true" 
    [style]="{width:'10000px'}" 
    [lazy]="true" [resizableColumns]="true">
    <ng-template pTemplate="caption">
      <div class="p-mb-4">
        <!-- Export as excel -->
        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportXLSX()"
          class="p-mr-2 p-button-warning" pTooltip="Xlsx" tooltipPosition="bottom"></button>
        <!-- Limit options -->
        <p-dropdown [options]="pageLimitSizes" optionValue="value" optionLabel="value" [(ngModel)]="limit"
          (onChange)="limitChange($event)" class="p-mr-2"></p-dropdown>
        <!-- Go to First page -->
        <button type="button" [disabled]="pageNr === 1" pButton pRipple icon="pi pi-angle-double-left"
          (click)="firstPage()" class="p-mr-2" pTooltip="{{'Data_Table.firstPage' | translate}}"
          tooltipPosition="bottom"></button>
        <!-- Go previous -->
        <button type="button" [disabled]="pageNr === 1" pButton pRipple icon="pi pi-angle-left" (click)="previousPage()"
          class=" p-mr-2" pTooltip="{{'Data_Table.previous' | translate}}" tooltipPosition="bottom"></button>
        <!-- Page number -->
        <input pInputText type="number" min="1" class="pageNrInput p-mr-2" [disabled]="true"
          (change)="pageNrChange($any($event.target).value)" [value]="pageNr" [placeholder]="pageNr" />
        <!-- Go to next Page -->
        <button type="button" [disabled]="pageNr >= maxPageNr" pButton pRipple icon="pi pi-angle-right"
          (click)="nextPage()" class="p-mr-2" pTooltip="{{'Data_Table.next' | translate}}"
          tooltipPosition="bottom"></button>
        <!-- Go to last page -->
        <button type="button" [disabled]="pageNr >= maxPageNr" pButton pRipple icon="pi pi-angle-double-right"
          (click)="lastPage()" class="p-mr-2" pTooltip="{{'Data_Table.lastPage' | translate}}"
          tooltipPosition="bottom"></button>

        <!-- dispalyed data of total count -->
        {{displayedDataCount}} of {{totalCount}}
        <!-- Clear filter -->
        <button type="button"  pButton pRipple icon="pi pi-filter-slash" (click)="clearFilter()"
          class="p-ml-6 clearFilter" pTooltip="{{'Data_Table.clearFilter' | translate}}" *ngIf="filtersNo>0"
          tooltipPosition="bottom"></button>

      </div>
    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup *ngFor="let col of cols">
        <col pResizableColumn>
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th pReorderableColumn pResizableColumn pSortableColumn="col.header" *ngFor="let col of cols">
          <span class="p-text-center" pTooltip="{{col.header}}" tooltipPosition="bottom"> {{col.header}} </span>
        </th>
      </tr>
      <tr>
        <th pResizableColumn *ngFor="let col of cols ">
          <input pInputText type="text" [(ngModel)]="criteria[col.field]" (change)="filterChange($any($event.target).value, col.field)"
            class="filterInputCss" />
          <i class="pi pi-filter p-ml-2 iconColor" (click)="submitFilter()"
            pTooltip="{{'Data_Table.filter' | translate}}" tooltipPosition="bottom"></i>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-index="rowIndex" let-columns="columns" let-rowData>
      <tr [pReorderableRow]="index">
        <td pReorderableRowHandle *ngFor="let col of cols" class="ui-resizable-column"
          aria-placeholder="">
          {{ col.header == 'balance' ? (rowData[col.field] | currency:'EUR')  : rowData[col.field]}}
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No postings found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
