
<p-card class="card">
  <p-toast></p-toast>
  <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="true"></p-steps>
  {{filesList[currentFileIndex]?.orginalName}}
</p-card>
<br />

<p-card>
  <!-- ********************** Step 1 satrts ******************** -->
  <!-- <div class="p-grid"> -->
  <!-- 
    <div class="p-col-1">
    </div> -->
  <div [hidden]="activeIndex != 0" class="p-col-12">
    <div class="p-grid">
      <div class="p-col-4">
        <h2>upload files</h2>
      </div>
      <div class="p-col-8">
        <p-progressSpinner *ngIf="waiting"></p-progressSpinner>
      </div>
    </div>
    <br>
    
    <div class="p-grid">
      <div class="p-col-10">
        <label for="">Template </label>
        <p-dropdown [options]="templates" [(ngModel)]="selectedTemplate" placeholder="Select a Template"
          optionLabel="name" [showClear]="true" [filter]="true" filterBy="name" ></p-dropdown>
      </div>
      <div class="p-col-2">
        <button pButton type="button" icon="pi pi-plus" iconPos="left" label="Another File" (click)="addFormData()"></button>
      </div>
      
      <div class="p-col-12" *ngFor="let f of filesList; let i = index;">
        <!-- {{f | json}} -->
        <br><br>
        <div class="p-grid">
          <div class="p-col-2">
            <!-- maxFileSize="100000000" -->
            <p-fileUpload name="excel" [showUploadButton]="false" customUpload="true"
              (uploadHandler)="UploadHandler($event, f, i)" 
              uploadLabel="Set File" chooseLabel="Search" [auto]="true"
              accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, .csv, text/plain">
              <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                  <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
              </ng-template>
            </p-fileUpload>
          </div>
          <div class="p-col-2">
            <p-dropdown [options]="fileTypes" [(ngModel)]="f.fileType" placeholder="Select file type" optionLabel="name"
              [showClear]="true" [filter]="true" filterBy="name"></p-dropdown>
          </div>
          <div class="p-col-2">
            <p-dropdown [options]="fileClass" [(ngModel)]="f.fileClass" placeholder="Select file class"
              optionLabel="name" [showClear]="true" [filter]="true" filterBy="name"></p-dropdown>
          </div>
          <div class="p-col-2" *ngIf="f.fileClass?.value==1">
            <p-dropdown [options]="accountTypes" [(ngModel)]="f.accountType" placeholder="Select account type"
              optionLabel="name" [showClear]="true" [filter]="true" filterBy="name"></p-dropdown>
          </div>
          <div class="p-col-2" *ngIf="f.fileClass?.value==2 && f.fileType?.value==2">
            <p-dropdown [options]="locals" [(ngModel)]="f.local" placeholder="Select Localization" optionLabel="name"
              [showClear]="true" [filter]="true" filterBy="name"></p-dropdown>
          </div>
          <div class="p-col-2">
            <span class="p-buttonset">
            <button pButton type="button" icon="pi pi-upload" iconPos="left" label="Upload"
            (click)="uploadFirstStep(f, i)" [disabled]="!f.file || !f.fileType || !f.fileClass || f.uploaded" class="p-button-raised p-button-rounded"></button>
            <button pButton type="button" label="Next" class="p-button-raised p-button-rounded" (click)="goToImport(0, i)"
            [disabled]="!f.file || !f.fileType || !f.fileClass || !f.uploaded || f.imported"></button>
          </span>
          </div>
        </div>


      </div>

      <br />
    </div>



    <br><br>
    <!-- <button pButton type="button" label="Next" class="p-button-raised p-button-rounded" (click)="goNext(0)"></button> -->
  </div>
  <!-- </div> -->


  <!-- ********************** Step 2 satrts ******************** -->
  <div [hidden]="activeIndex != 1" class="card">
    upload helper files

    <br><br>
    <span class="p-buttonset">
      <button pButton type="button" label="Previous" class="p-button-raised p-button-rounded"
        (click)="goPrev(1)"></button>
      <button pButton type="button" label="Next" class="p-button-raised p-button-rounded" (click)="goNext(1)"></button>
    </span>
  </div>


  <!-- ********************** Step 3 satrts ******************** -->
  <div [hidden]="activeIndex != 2" class="card">
    Mapping fields
    <br>
    <p-accordion *ngIf="filesList[currentFileIndex]">
      <p-accordionTab header="Accounts Mapping" *ngIf="filesList[currentFileIndex]?.fileClass?.value === 1" [selected]="true">
        <div class="p-grid">
          <div class="p-col-3">Database Field</div>
          <div class="p-col-3">Data Type</div>
          <div class="p-col-6">Mapping Field</div>

          <div class="p-col-3">Mdt</div>
          <div class="p-col-3">Text</div>
          <div class="p-col-6">
            <select name="mdt" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['client']"  class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['client']">{{filesList[currentFileIndex]?.defaultTemplate['client']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">BuKr</div>
          <div class="p-col-3">Text</div>
          <div class="p-col-6">
            <select name="mdt" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['companyCode']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['companyCode']">{{filesList[currentFileIndex]?.defaultTemplate['companyCode']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">accountType</div>
          <div class="p-col-3">Text</div>
          <div class="p-col-6">
            <select name="mdt" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['accountType']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['accountType']">{{filesList[currentFileIndex]?.defaultTemplate['accountType']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">accountNumber</div>
          <div class="p-col-3">Zahl</div>
          <div class="p-col-6">
            <select name="mdt" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['accountNumber']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['accountNumber']">{{filesList[currentFileIndex]?.defaultTemplate['accountNumber']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">accountName</div>
          <div class="p-col-3">Text</div>
          <div class="p-col-6">
            <select name="mdt" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['accountName']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['accountName']">{{filesList[currentFileIndex]?.defaultTemplate['accountName']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="Posting Mapping" *ngIf="filesList[currentFileIndex]?.fileClass?.value === 2" [selected]="true">
        Posting mapping is here
        <div class="p-grid">
          <div class="p-col-3">Database Field</div>
          <div class="p-col-3">Data Type</div>
          <div class="p-col-6">Mapping Field</div>

          <div class="p-col-3">ZUORDNUNG</div>
          <div class="p-col-3">Text</div>
          <div class="p-col-6">
            <select name="assignment" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['assignment']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['assignment']">{{filesList[currentFileIndex]?.defaultTemplate['assignment']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">BELEGNR</div>
          <div class="p-col-3">Zahl</div>
          <div class="p-col-6">
            <select name="documentNumber" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['documentNumber']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['documentNumber']">{{filesList[currentFileIndex]?.defaultTemplate['documentNumber']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">BELEGART</div>
          <div class="p-col-3">Text</div>
          <div class="p-col-6">
            <select name="documentType" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['documentType']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['documentType']">{{filesList[currentFileIndex]?.defaultTemplate['documentType']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">BELEGDATUM</div>
          <div class="p-col-3">Datum</div>
          <div class="p-col-6">
            <select name="documentDate" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['documentDate']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['documentDate']">{{filesList[currentFileIndex]?.defaultTemplate['documentDate']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">BS</div>
          <div class="p-col-3">Zahl</div>
          <div class="p-col-6">
            <select name="recordNumber" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['recordNumber']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['recordNumber']">{{filesList[currentFileIndex]?.defaultTemplate['recordNumber']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">BETRAGHW</div>
          <div class="p-col-3">Zahl</div>
          <div class="p-col-6">
            <select name="creditAmount" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['creditAmount']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['creditAmount']">{{filesList[currentFileIndex]?.defaultTemplate['creditAmount']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">HW</div>
          <div class="p-col-3">Text</div>
          <div class="p-col-6">
            <select name="transactionCurrency" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['transactionCurrency']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['transactionCurrency']">{{filesList[currentFileIndex]?.defaultTemplate['transactionCurrency']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">AUSGLEICHSBELEG</div>
          <div class="p-col-3">Text</div>
          <div class="p-col-6">
            <select name="applicationDocument" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['applicationDocument']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['applicationDocument']">{{filesList[currentFileIndex]?.defaultTemplate['applicationDocument']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">TEXT</div>
          <div class="p-col-3">Text</div>
          <div class="p-col-6">
            <select name="textPosting" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['textPosting']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['textPosting']">{{filesList[currentFileIndex]?.defaultTemplate['textPosting']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">AUSGLDATUM</div>
          <div class="p-col-3">Datum</div>
          <div class="p-col-6">
            <select name="applicationDate" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['applicationDate']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['applicationDate']">{{filesList[currentFileIndex]?.defaultTemplate['applicationDate']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">BUCHUNGSDATUM</div>
          <div class="p-col-3">Datum</div>
          <div class="p-col-6">
            <select name="postingDate" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['postingDate']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['postingDate']">{{filesList[currentFileIndex]?.defaultTemplate['postingDate']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">BUCHUNGSKRES</div>
          <div class="p-col-3">Text</div>
          <div class="p-col-6">
            <select name="companyCode" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['companyCode']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['companyCode']">{{filesList[currentFileIndex]?.defaultTemplate['companyCode']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">GJAHR</div>
          <div class="p-col-3">Zahl</div>
          <div class="p-col-6">
            <select name="fiscalYear" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['fiscalYear']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['fiscalYear']">{{filesList[currentFileIndex]?.defaultTemplate['fiscalYear']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">PERIODE</div>
          <div class="p-col-3">Zahl</div>
          <div class="p-col-6">
            <select name="postingPeriod" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['postingPeriod']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['postingPeriod']">{{filesList[currentFileIndex]?.defaultTemplate['postingPeriod']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">KONTOART</div>
          <div class="p-col-3">Text</div>
          <div class="p-col-6">
            <select name="accountType" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['accountType']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['accountType']">{{filesList[currentFileIndex]?.defaultTemplate['accountType']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">KONTO</div>
          <div class="p-col-3">Zahl</div>
          <div class="p-col-6">
            <select name="accountNumber" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['accountNumber']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['accountNumber']">{{filesList[currentFileIndex]?.defaultTemplate['accountNumber']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">SH</div>
          <div class="p-col-3">Text</div>
          <div class="p-col-6">
            <select name="debitCredit" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['debitCredit']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['debitCredit']">{{filesList[currentFileIndex]?.defaultTemplate['debitCredit']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">REFERENZ</div>
          <div class="p-col-3">Text</div>
          <div class="p-col-6">
            <select name="reference" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['reference']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['reference']">{{filesList[currentFileIndex]?.defaultTemplate['reference']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">HAUPTBUCH</div>
          <div class="p-col-3">Zahl</div>
          <div class="p-col-6">
            <select name="GLAccountNumber" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['GLAccountNumber']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['GLAccountNumber']">{{filesList[currentFileIndex]?.defaultTemplate['GLAccountNumber']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>


          <div class="p-col-3">GKART</div>
          <div class="p-col-3">Text</div>
          <div class="p-col-6">
            <select name="contraAccountType" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['contraAccountType']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['contraAccountType']">{{filesList[currentFileIndex]?.defaultTemplate['contraAccountType']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">GEGENKONTO</div>
          <div class="p-col-3">Zahl</div>
          <div class="p-col-6">
            <select name="contraAccountNumber" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['contraAccountNumber']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['contraAccountNumber']">{{filesList[currentFileIndex]?.defaultTemplate['contraAccountNumber']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">GKSachkonto</div>
          <div class="p-col-3">Zahl</div>
          <div class="p-col-6">
            <select name="contraAccountGLAccountNo" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['contraAccountGLAccountNo']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['contraAccountGLAccountNo']">{{filesList[currentFileIndex]?.defaultTemplate['contraAccountGLAccountNo']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">GKKreditor</div>
          <div class="p-col-3">Zahl</div>
          <div class="p-col-6">
            <select name="contraAccountCreditorNo" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['contraAccountCreditorNo']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['contraAccountCreditorNo']">{{filesList[currentFileIndex]?.defaultTemplate['contraAccountCreditorNo']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">GKDebitor</div>
          <div class="p-col-3">Zahl</div>
          <div class="p-col-6">
            <select name="contraAccountDebtorNo" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['contraAccountDebtorNo']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['contraAccountDebtorNo']">{{filesList[currentFileIndex]?.defaultTemplate['contraAccountDebtorNo']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">NETTOFÄLLIGKEIT</div>
          <div class="p-col-3">Datum</div>
          <div class="p-col-6">
            <select name="dueDate" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['dueDate']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['dueDate']">{{filesList[currentFileIndex]?.defaultTemplate['dueDate']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">BELEGKOPFTEXT</div>
          <div class="p-col-3">Text</div>
          <div class="p-col-6">
            <select name="textHeader" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['textHeader']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['textHeader']">{{filesList[currentFileIndex]?.defaultTemplate['textHeader']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>

          <div class="p-col-3">KONTONAME</div>
          <div class="p-col-3">Text</div>
          <div class="p-col-6">
            <select name="accountName" [(ngModel)]="filesList[currentFileIndex]?.defaultTemplate['accountName']" class="p-dropdown p-component p-inputtext p-dropdown-trigger custom-select">
              <option value="filesList[currentFileIndex]?.defaultTemplate['accountName']">{{filesList[currentFileIndex]?.defaultTemplate['accountName']}}</option>
              <option *ngFor="let h of filesList[currentFileIndex].fileHeader; let i = index;" value="{{h}}">{{h}}</option>
            </select>
          </div>
        </div>
      </p-accordionTab>

      <p-accordionTab header="Head Mapping" *ngIf="filesList[currentFileIndex]?.fileClass?.value === 3" [selected]="true">
        Head Mapping is hear
      </p-accordionTab>
    </p-accordion>

    <br><br>
    <span class="p-buttonset">
      <button pButton type="button" label="Previous" class="p-button-raised p-button-rounded"
        (click)="goPrev(2)"></button>
      <button pButton type="button" label="Next" class="p-button-raised p-button-rounded" (click)="goNext(2)"></button>
    </span>
  </div>



  <!-- ********************** Step 4 satrts ******************** -->
  <div [hidden]="activeIndex != 3" class="card">
    import 
    <div class="p-col-8">
      <p-progressSpinner *ngIf="waiting"></p-progressSpinner>
    </div>
    <p-messages ></p-messages>

    <br><br>
    <span class="p-buttonset">
      <button pButton type="button" label="Previous" class="p-button-raised p-button-rounded"
        (click)="goPrev(3)"></button>
      <button pButton type="button" label="Import" class="p-button-raised p-button-rounded" (click)="importThisFile()"></button>
      <button pButton type="button" label="Continue" class="p-button-raised p-button-rounded"
        [disabled]="!filesList[currentFileIndex]?.imported" (click)="goPrev(1)"></button>
    </span>
  </div>
</p-card>
