<p-toast></p-toast>
<section id="content" #contact>
    <div class="content-wrap">
        <div class="container">

            <div class="row gutter-40 col-mb-80">
                <!-- Postcontent
                ============================================= -->
                <div class="postcontent col-lg-9">

                    <h3>Send us an Email</h3>

                    <div class="form-widget">

                        <div class="form-result"></div>

                        <form class="mb-0" name="template-contactform" (ngSubmit)="send()">

                            <div class="form-process">
                                <div class="css3-spinner">
                                    <div class="css3-spinner-scaler"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label for="template-contactform-name">Name <small>*</small></label>
                                    <input type="text" id="template-contactform-name" name="template-contactform-name"
                                        value="" class="sm-form-control required" [(ngModel)]="mail.name" />
                                </div>

                                <div class="col-md-4 form-group">
                                    <label for="template-contactform-email">Email <small>*</small></label>
                                    <input type="email" id="template-contactform-email"
                                        name="template-contactform-email" value=""
                                        class="required email sm-form-control" [(ngModel)]="mail.email" />
                                </div>

                                <div class="col-md-4 form-group">
                                    <label for="template-contactform-phone">Phone</label>
                                    <input type="text" id="template-contactform-phone" name="template-contactform-phone"
                                        value="" class="sm-form-control" [(ngModel)]="mail.phone" />
                                </div>

                                <div class="w-100"></div>

                                <div class="col-md-12 form-group">
                                    <label for="template-contactform-subject">Subject <small>*</small></label>
                                    <input type="text" id="template-contactform-subject" name="subject" value=""
                                        class="required sm-form-control" [(ngModel)]="mail.subject" />
                                </div>

                                <div class="w-100"></div>

                                <div class="col-12 form-group">
                                    <label for="template-contactform-message">Message <small>*</small></label>
                                    <textarea class="required sm-form-control" id="template-contactform-message"
                                        name="template-contactform-message" rows="6" cols="30"
                                        [(ngModel)]="mail.message"></textarea>
                                </div>

                                <div class="col-12 form-group d-none">
                                    <input type="text" id="template-contactform-botcheck"
                                        name="template-contactform-botcheck" value="" class="sm-form-control" />
                                </div>
                                <p-captcha siteKey="6LfJXewcAAAAAEurF5JPG6RY-SBBf5Ue9-SVw5a0"
                                    (onResponse)="showResponse($event)"></p-captcha>
                                <br><br>
                                <div class="col-12 form-group">
                                    <button class="button button-3d m-0" type="submit" [disabled]="!canSend"
                                        name="template-contactform-submit" value="submit">Send Message</button>
                                </div>
                            </div>

                            <input type="hidden" name="prefix" value="template-contactform-">

                        </form>
                    </div>

                </div><!-- .postcontent end -->

                <!-- Sidebar
                ============================================= -->
                <div class="sidebar col-lg-3">

                    <address>
                        <strong>Headquarters:</strong><br>
                        {{data.street}} {{data.houseNr}}<br>
                        {{data.city}}, {{data.country}} <br>
                    </address>
                    <abbr title="Phone Number"><strong>Phone:</strong></abbr> {{data.phone}}<br>
                    <abbr title="Fax"><strong>Fax:</strong></abbr> {{data.fax}}<br>
                    <abbr title="Email Address"><strong>Email:</strong></abbr> {{data.email}}

                    <div class="widget border-0 pt-0">


                    </div>

                    <div class="widget border-0 pt-0">
                        <span *ngFor="let link of links">
                            <a href="{{link.url}}" class="social-icon si-small si-dark si-{{link.icon}}">
                                <i class="icon-{{link.icon}}"></i>
                                <i class="icon-{{link.icon}}"></i>
                            </a>
                        </span>
                    </div>

                </div><!-- .sidebar end -->
            </div>

        </div>
    </div>
</section><!-- #content end -->