<p-toast></p-toast>

<div class="card">
    <p-progressBar mode="indeterminate" [style]="{ height: '5px' }" *ngIf="loading"></p-progressBar>
    <p-table [value]="postings" [columns]="cols" [scrollable]="true" scrollHeight="350px" [style]="{ width: '100%' }"
        [resizableColumns]="true" styleClass="p-datatable-gridlines" [reorderableColumns]="true" [loading]="loading"
        [lazy]="true" [customSort]="true" (onLazyLoad)="sort($event)">
        <ng-template pTemplate="caption">
            <div class="p-mb-4">
                <!-- Export as excel -->
                <!-- <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportXLSX()"
            class="p-mr-2 p-button-warning" pTooltip="Xlsx" tooltipPosition="bottom"></button> -->
                <!-- Limit options -->
                <p-dropdown [options]="pageLimitSizes" optionValue="value" optionLabel="value" [(ngModel)]="limit"
                    (onChange)="limitChange($event)" class="p-mr-2"></p-dropdown>
                <!-- Go to First page -->
                <button type="button" [disabled]="pageNr === 1" pButton pRipple icon="pi pi-angle-double-left"
                    (click)="firstPage()" class="p-mr-2" pTooltip="{{ 'Data_Table.firstPage' | translate }}"
                    tooltipPosition="bottom"></button>
                <!-- Go previous -->
                <button type="button" [disabled]="pageNr === 1" pButton pRipple icon="pi pi-angle-left"
                    (click)="previousPage()" class="p-mr-2" pTooltip="{{ 'Data_Table.previous' | translate }}"
                    tooltipPosition="bottom"></button>
                <!-- Page number -->
                <input pInputText type="number" min="1" class="pageNrInput p-mr-2"
                    (input)="pageNrChange($any($event.target).value)" [value]="pageNr" [placeholder]="pageNr" />
                <!-- Go to next Page -->
                <button type="button" [disabled]="pageNr >= maxPageNr" pButton pRipple icon="pi pi-angle-right"
                    (click)="nextPage()" class="p-mr-2" pTooltip="{{ 'Data_Table.next' | translate }}"
                    tooltipPosition="bottom"></button>
                <!-- Go to last page -->
                <button type="button" [disabled]="pageNr >= maxPageNr" pButton pRipple icon="pi pi-angle-double-right"
                    (click)="lastPage()" class="p-mr-2" pTooltip="{{ 'Data_Table.lastPage' | translate }}"
                    tooltipPosition="bottom"></button>

                <!-- dispalyed data of total count -->
                {{ displayedDataCount }} of {{ totalCount }}
                <!-- Clear filter -->
                <button type="button" pButton pRipple icon="pi pi-filter-slash" (click)="clearFilter()"
                    class="p-ml-6 clearFilter" pTooltip="{{ 'Data_Table.clearFilter' | translate }}"
                    *ngIf="filtersNo > 0" tooltipPosition="bottom"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="colgroup">
            <colgroup>
                <col *ngFor="let col of cols" [style]="{ width: (col.width ? col.width : 150) + 'px' }" />
                <col [style]="{ width: '150px' }" />
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="{{ col.field }}" pResizableColumn pReorderableColumn *ngFor="let col of cols"
                    class="p-text-center" pTooltip="{{ col.header }}" tooltipPosition="bottom">
                    {{ col.header | translate}}
                    <p-sortIcon field="{{ col.field }}"></p-sortIcon>
                </th>
                <th>Actions</th>
            </tr>
            <tr>
                <th pResizableColumn *ngFor="let col of cols" class="autocomplete">
                    <p-autoComplete [suggestions]="completeWords"
                        (completeMethod)="filterChange($event.query, col.field)"
                        (onClear)="filterChange($event.query, col.field)"
                        (onSelect)="filterChange($event.word, col.field)" field="word" [minLength]="1"
                        [inputStyle]="{ width: '90%' }" [style]="{ width: '90%' }" appendTo="body"
                        [(ngModel)]="criteria[col.field]" *ngIf="
                col.field != 'dueDate' &&
                col.field != 'dueDateNew'">
                    </p-autoComplete>

                    <p-calendar *ngIf="
                col.field == 'dueDateNew' ||
                col.field == 'dueDate'
              " [(ngModel)]="criteria[col.field]" (onSelect)="filterChange($event, col.field)" [monthNavigator]="true"
                        [yearNavigator]="true" yearRange="1900:2100" appendTo="body" dateFormat="dd.mm.yy">
                    </p-calendar>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td pReorderableRowHandle *ngFor="let col of cols" class="p-text-{{ col.align }}">
                    <div *ngIf="!rowData.isEditable &&
                  (col.field == 'dueDate' ||
                  col.field == 'dueDateNew');
                then withFilter;
                else withoutFilter
              "></div>
                    <ng-template #withoutFilter>
                        <span *ngIf="!rowData.isEditable" pTooltip="{{ rowData[col.field] }}">
                            {{ rowData[col.field] }}
                        </span>
                        <p-calendar *ngIf="rowData.isEditable && col.field == 'dueDateNew'" [(ngModel)]="rowData.dueDateNew"
                        [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2100" appendTo="body"
                        dateFormat="dd.mm.yy" clientTimeZone="local"></p-calendar>
                    </ng-template>
                    <ng-template #withFilter>
                        {{ (rowData[col.field] | date: "dd.MM.yyyy") }}
                    </ng-template>
                </td>
                <td>
                    <button type="button" pButton pRipple icon="pi pi-pencil" (click)="editRow(rowData)"
                        class="p-button-rounded p-button-warning" *ngIf="!rowData.isEditable"
                        pTooltip="{{ 'Account_Type.Edit' | translate }}" tooltipPosition="bottom"></button>
                    &nbsp;
                    <button type="button" pButton pRipple icon="pi pi-save" (click)="save(rowData)"
                        class="p-button-rounded p-button-warning" *ngIf="rowData.isEditable"
                        pTooltip="{{ 'Account_Type.Save' | translate }}" tooltipPosition="bottom"></button>
                    &nbsp;
                    <button type="button" pButton pRipple icon="pi pi-times" (click)="cancel(rowData)"
                        class="p-button-rounded p-button-warning" *ngIf="rowData.isEditable"
                        pTooltip="{{ 'Account_Type.Cancel' | translate }}" tooltipPosition="bottom"></button>
                    &nbsp;
                    <button type="button" pButton pRipple icon="pi pi-trash" (click)="resetDueDate(rowData)"
                        class="p-button-rounded p-button-warning" *ngIf="!rowData.isEditable"
                        pTooltip="{{ 'Liquidity.delete' | translate }}" tooltipPosition="bottom"></button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No postings found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>