<p-toast></p-toast>
<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<div class="p-grid">
  <div class="p-col-12">
    <h2 class="p-text-center">{{accountNumber}} - {{accountName}}</h2>
    <p style="float: right;">
      <p-button icon="pi pi-pencil" label="Comment" class="p-button-raised p-button-outlined"
        (click)="showSideBar = !showSideBar"></p-button>
    </p>
    <p-sidebar [(visible)]="showSideBar" position="right" [showCloseIcon]="true">
      <button pButton label="Save" icon="pi pi-check" (click)="updateCreditorComment()"></button>
      <p-editor [(ngModel)]="comment" [style]="{'height':'320px'}">
        <!-- <ng-template pTemplate="header">
          <span class="ql-formats">
            <button type="button" class="ql-bold" aria-label="Bold"></button>
            <button type="button" class="ql-italic" aria-label="Italic"></button>
            <button type="button" class="ql-underline" aria-label="Underline"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-script" aria-label="super" value="super"></button>
            <button class="ql-blockquote" aria-label="Block Quote"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-list" title="List" value="ordered"></button>
            <button class="ql-list" title="Bullet" value="bullet"></button>
            <button class="ql-indent" title="Intend" value="-1"></button>
            <button class="ql-indent" title="Intend" value="+1"></button>
            <select title="Text Alignment" class="ql-align">
             <option selected>Gauche</option>
             <option value="center" label="Center"></option>
             <option value="right" label="Right"></option>
             <option value="justify" label="Justify"></option>
            </select>
          </span>
        </ng-template> -->
      </p-editor>
    </p-sidebar>




    <p-progressBar mode="indeterminate" [style]="{ height: '5px' }" *ngIf="waiting"></p-progressBar>
  </div>
  <!-- <div class="p-col-12 ">
    <p-card class="p-text-center">
      <p-chart type="pie" [data]="chartData" height="350px"></p-chart>
    </p-card>
  </div> -->



  <div class="p-col-4">
    <p-card class="p-text-center">
      <ng-template pTemplate="header">
        {{ 'CreditorsAnalysis.amountTotalBalance' | translate}}
      </ng-template>
      <p-chart type="bar" [data]="amountChartData" height="350px" [options]="basicOptions"></p-chart>
    </p-card>
  </div>
  <div class="p-col-4">
    <p-card class="p-text-center">
      <ng-template pTemplate="header">
        {{ 'CreditorsAnalysis.textTotalBalance' | translate}}
      </ng-template>
      <p-chart type="pie" [data]="chartData" height="350px"></p-chart>
    </p-card>
  </div>
  <div class="p-col-4">
    <p-card class="p-text-center">
      <ng-template pTemplate="header">
        {{ 'CreditorsAnalysis.paymentTotalBalance' | translate}}
      </ng-template>
      <p-chart type="bar" height="350" [data]="paymentChartData" [options]="basicOptions"> </p-chart>
    </p-card>
  </div>

  <div class="p-col-4">
    <p-card class="p-text-center">
      <ng-template pTemplate="header">
        {{ 'CreditorsAnalysis.dueDate' | translate}}
      </ng-template>
      <p-chart #chart2 type="scatter" height="350" [data]="dueDateChartData" [options]="dueDateChartOptions">
      </p-chart>
    </p-card>
  </div>

  <div class="p-col-4">
    <p-card class="p-text-center">
      <ng-template pTemplate="header">
        {{ 'CreditorsAnalysis.senderTotalCount' | translate}}
      </ng-template>
      <p-chart type="pie" [data]="mailSenderChartData" height="350px"></p-chart>
    </p-card>
  </div>


  <div class="p-col-4">
    <p-card class="p-text-center">
      <ng-template pTemplate="header">
        {{ 'CreditorsAnalysis.mailWord' | translate}}
      </ng-template>
      <p-chart type="pie" [data]="mailWordChartData" height="350px"></p-chart>
    </p-card>
  </div>




  <div class="p-col-4">
    <p-card class="p-text-center">
      <ng-template pTemplate="header">
        {{ 'CreditorsAnalysis.amountTotalBalance' | translate}}
      </ng-template>
      <h1>{{totalAmount | currency:'EUR':'symbol' }}</h1>
      <h3>{{ 'CreditorsAnalysis.amountTotalCount' | translate}}</h3>
      <h1> {{totalAmountCount}} </h1>
      <br>
      <p class="amountColor" (click)="setDetails(2)"><i class="pi pi-arrow-down"></i>{{ 'CreditorsAnalysis.showDetails'
        | translate}} </p>
    </p-card>
  </div>
  <div class="p-col-4">
    <p-card class="p-text-center">
      <ng-template pTemplate="header">
        {{ 'CreditorsAnalysis.textTotalBalance' | translate}}
      </ng-template>
      <h1>{{totalText | currency:'EUR':'symbol' }}</h1>
      <h3>{{ 'CreditorsAnalysis.textTotalCount' | translate}}</h3>
      <h1> {{totalTextCount}}</h1>
      <br>
      <p class="textColor" (click)="setDetails(1)"><i class="pi pi-arrow-down"></i> {{ 'CreditorsAnalysis.showDetails' |
        translate}} </p>
    </p-card>
  </div>
  <div class="p-col-4">
    <p-card class="p-text-center">
      <ng-template pTemplate="header">
        {{ 'CreditorsAnalysis.paymentTotalBalance' | translate}}
      </ng-template>
      <h1>{{totalPayment | currency:'EUR':'symbol' }}</h1>
      <h3>{{ 'CreditorsAnalysis.paymentTotalCount' | translate}}</h3>
      <h1> {{totalPaymentCount}}</h1>
      <br>
      <p class="paymentColor" (click)="setDetails(3)"><i class="pi pi-arrow-down"></i> {{
        'CreditorsAnalysis.showDetails' | translate}} </p>

    </p-card>
  </div>

  <div class="p-col-4">
    <p-card class="p-text-center">
      <ng-template pTemplate="header">
        {{ 'CreditorsAnalysis.dueDate' | translate}}
      </ng-template>
      <h1>{{totalDueDate | currency:'EUR':'symbol'}}</h1>
      <h3>{{ 'CreditorsAnalysis.dueDate' | translate}}</h3>
      <h1> {{totlaDueDateCount}}</h1>
      <br>
      <p class="emailColor" (click)="setDetails(5)"><i class="pi pi-arrow-down"></i> {{
        'CreditorsAnalysis.showDetails' | translate}} </p>
    </p-card>
  </div>

  <div class="p-col-4">
    <p-card class="p-text-center">
      <ng-template pTemplate="header">
        {{ 'CreditorsAnalysis.senderTotalCount' | translate}}
      </ng-template>
      <h1>{{totlaSenderCount}}</h1>
      <h3>{{ 'CreditorsAnalysis.emailTotalCount' | translate}}</h3>
      <h1> {{totalEmailCount}}</h1>
      <br>
      <p class="emailColor" (click)="setDetails(4)"><i class="pi pi-arrow-down"></i> {{
        'CreditorsAnalysis.showDetails' | translate}} </p>
    </p-card>
  </div>





</div>


<div class="p-grid">
  <div class="p-col-12">
    <app-text-analysis-details details="true" [hidden]="displayDetails!=1"></app-text-analysis-details>
    <amount-analysis-details details="true" [hidden]="displayDetails!=2"></amount-analysis-details>
    <app-payment-analysis-details details="true" [hidden]="displayDetails!=3"></app-payment-analysis-details>
    <app-mail-analysis-sender-details [accountNumber]="accountNumber" [hidden]="displayDetails!=4">
    </app-mail-analysis-sender-details>
    <app-due-date details="true" [hidden]="displayDetails!=5"></app-due-date>
  </div>
</div>